force-app/main/default/flows/Auto_fill_Policy_Details_for_Opportunity_Products.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>55.0</apiVersion>
    <interviewLabel>Auto-fill Policy Details for Opportunity Products {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Auto-fill Policy Details for Opportunity Products</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_Other_Policy_Products</name>
        <label>Get other products in policy group</label>
        <locationX>176</locationX>
        <locationY>311</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Auto_fill_Policy_Fields</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>OpportunityId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Opportunity.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>Policy_Group__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Policy_Group__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>Carrier_Policy_Number__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>OpportunityLineItem</object>
        <queriedFields>Id</queriedFields>
        <queriedFields>Carrier__c</queriedFields>
        <queriedFields>Carrier_Policy_Number__c</queriedFields>
        <queriedFields>Effective_Date__c</queriedFields>
        <queriedFields>Expiration_Date__c</queriedFields>
        <queriedFields>NAIC_Code__c</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Auto_fill_Policy_Fields</name>
        <label>Auto-fill Policy Fields</label>
        <locationX>176</locationX>
        <locationY>431</locationY>
        <inputAssignments>
            <field>Carrier_Policy_Number__c</field>
            <value>
                <elementReference>Get_Other_Policy_Products.Carrier_Policy_Number__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Carrier__c</field>
            <value>
                <elementReference>Get_Other_Policy_Products.Carrier__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Effective_Date__c</field>
            <value>
                <elementReference>Get_Other_Policy_Products.Effective_Date__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Expiration_Date__c</field>
            <value>
                <elementReference>Get_Other_Policy_Products.Expiration_Date__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>NAIC_Code__c</field>
            <value>
                <elementReference>Get_Other_Policy_Products.NAIC_Code__c</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Other_Policy_Products</targetReference>
        </connector>
        <doesRequireRecordChangedToMeetCriteria>true</doesRequireRecordChangedToMeetCriteria>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Policy_Group__c</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue></stringValue>
            </value>
        </filters>
        <object>OpportunityLineItem</object>
        <recordTriggerType>Update</recordTriggerType>
        <triggerType>RecordBeforeSave</triggerType>
    </start>
    <status>Draft</status>
    <variables>
        <name>ExpDate</name>
        <dataType>Date</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <elementReference>$Record.Expiration_Date__c</elementReference>
        </value>
    </variables>
</Flow>
