force-app/main/default/flows/Carrier_Based_Field_Automation_flow.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>55.0</apiVersion>
    <decisions>
        <name>carrier_conditions</name>
        <label>carrier_conditions</label>
        <locationX>596</locationX>
        <locationY>292</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Acciuty</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Carrier__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Acuity</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>general_liablity</targetReference>
            </connector>
            <label>Acciuty</label>
        </rules>
        <rules>
            <name>coterie</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Carrier__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Coterie</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>coterie_c</targetReference>
            </connector>
            <label>coterie</label>
        </rules>
        <rules>
            <name>CrumandForster</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Carrier__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Crum and Forster</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>general_liablity</targetReference>
            </connector>
            <label>Crum and Forster</label>
        </rules>
        <rules>
            <name>Hiscox_Ins_Co_Inc</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Carrier__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Hiscox Ins Co Inc</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>general_liablity</targetReference>
            </connector>
            <label>Hiscox Ins Co Inc</label>
        </rules>
        <rules>
            <name>Liberty_Mutual</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Carrier__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Liberty Mutual</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>general_liablity</targetReference>
            </connector>
            <label>Liberty Mutual</label>
        </rules>
        <rules>
            <name>Markel_Ins_Co</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Carrier__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Markel Ins Co</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>general_liablity</targetReference>
            </connector>
            <label>Markel Ins Co</label>
        </rules>
        <rules>
            <name>Progressive</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Carrier__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Progressive</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>progressive_update</targetReference>
            </connector>
            <label>Progressive</label>
        </rules>
        <rules>
            <name>hatford_condition</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Carrier__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Hartford Cas Ins Co</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>general_liablity</targetReference>
            </connector>
            <label>hatford_condition</label>
        </rules>
        <rules>
            <name>condition_for_billing_type</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Carrier__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Acuity</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Carrier__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Coterie</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Carrier__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Crum and Forster</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Carrier__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Hiscox Ins Co Inc</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Carrier__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Liberty Mutual</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Carrier__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Markel Ins Co</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Carrier__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Progressive</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Carrier__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Hartford Cas Ins Co</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>general_liablity</targetReference>
            </connector>
            <label>condition for billing type</label>
        </rules>
        <rules>
            <name>travelers</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Carrier__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Travelers Commercial Ins Co</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>general_liablity</targetReference>
            </connector>
            <label>travelers</label>
        </rules>
        <rules>
            <name>chubb_Digital</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Carrier__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Ace Fire Underwriters Ins Co</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Carrier__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Ace Amer Ins Co</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Carrier__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Ace Prop &amp; Cas Ins Co</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Carrier__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Federal Insurance Company</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Carrier__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Pacific Ind Ins Co</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>chubb_digital_condition</targetReference>
            </connector>
            <label>chubb_Digital</label>
        </rules>
        <rules>
            <name>chubb_market</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Carrier__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Ace Amer Ins Co - Marketplace</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Carrier__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Ace Amer Ins Co - Marketplace</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Carrier__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Ace Prop &amp; Cas Ins Co - Marketplace</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Carrier__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Pacific Ind Ins Co - Marketplace</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Carrier__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Federal Insurance Company - Marketplace</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Carrier__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Chubb National Insurance Company - Marketplace</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Carrier__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Chubb Indemnity Insurance Company - Marketplace</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Carrier__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Ace Fire Underwriters Ins Co - Marketplace</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>chubb_market_con</targetReference>
            </connector>
            <label>chubb_market</label>
        </rules>
        <rules>
            <name>lloyds_carrier</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Carrier__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>CFC Underwriting</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>general_liablity</targetReference>
            </connector>
            <label>lloyds carrier</label>
        </rules>
    </decisions>
    <decisions>
        <name>chubb_digital_condition</name>
        <label>chubb_digital_condition</label>
        <locationX>951</locationX>
        <locationY>429</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>chubb_g</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Product2.Name</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>General Liability</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>updATE_CUBB_genral</targetReference>
            </connector>
            <label>chubb_g</label>
        </rules>
        <rules>
            <name>chubb_pl</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Product2.Name</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Professional Liability</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>update_cubb_pl</targetReference>
            </connector>
            <label>chubb_pl</label>
        </rules>
        <rules>
            <name>chubb_um</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Product2.Name</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Umbrella</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>update_chubb_um</targetReference>
            </connector>
            <label>chubb_um</label>
        </rules>
        <rules>
            <name>chubb_c</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Product2.Name</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Crime</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>update_cubb_crime</targetReference>
            </connector>
            <label>chubb_c</label>
        </rules>
    </decisions>
    <decisions>
        <name>chubb_market_con</name>
        <label>chubb_market_con</label>
        <locationX>875</locationX>
        <locationY>859</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>chubb_market_not_work</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Product2.Name</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Hired Non Owned Auto</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Product2.Name</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>General Liability</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Product2.Name</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Professional Liability</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Product2.Name</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Cyber</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>update_chubb_market_2</targetReference>
            </connector>
            <label>chubb-market_not work</label>
        </rules>
        <rules>
            <name>chubb_market_work1</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Product2.Name</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Worker&apos;s Comp</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>update_chubb_market_1</targetReference>
            </connector>
            <label>chubb_market_work</label>
        </rules>
        <rules>
            <name>chubb_market_um</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Product2.Name</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Umbrella</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Product2.Name</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Crime</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>update_chubb_market3</targetReference>
            </connector>
            <label>chubb_market_um</label>
        </rules>
    </decisions>
    <decisions>
        <name>general_liablity</name>
        <label>general liablity</label>
        <locationX>835</locationX>
        <locationY>634</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>yes</name>
            <conditionLogic>(1 OR 3)  AND 2</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Product2.Id</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>01t410000045moAAAQ</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Carrier__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Acuity</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Product2.Id</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>01tP00000092T80IAE</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Acuity_update</targetReference>
            </connector>
            <label>yes</label>
        </rules>
        <rules>
            <name>cum_foster</name>
            <conditionLogic>1 AND (2 OR 3)</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Carrier__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Crum and Forster</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Product2.Id</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>01tP00000092T80IAE</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Product2.Id</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>01t410000045moAAAQ</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>cum_and_foster_update</targetReference>
            </connector>
            <label>cum&amp;foster</label>
        </rules>
        <rules>
            <name>hex_general</name>
            <conditionLogic>1 AND ((2 OR 3)  OR ( 4 OR 5))</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Carrier__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Hiscox Ins Co Inc</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Product2.Id</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>01t410000045moAAAQ</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Product2.Id</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>01tP00000092T80IAE</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Product2.Id</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>01t410000045moFAAQ</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Product2.Id</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>01tP00000092T81IAE</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>update_hiscox_general</targetReference>
            </connector>
            <label>hex_general</label>
        </rules>
        <rules>
            <name>liablity_mutal_not</name>
            <conditionLogic>1 AND (NOT((2 OR 3) AND 4))</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Carrier__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Liberty Mutual</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Product2.Id</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>01t410000045moKAAQ</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Product2.Id</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>01tP00000092T82IAE</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Product2.Name</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>IM</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>not_liberty_update</targetReference>
            </connector>
            <label>liablity_mutal_not</label>
        </rules>
        <rules>
            <name>liberty_mu_Worker_s_Comp</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Carrier__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Liberty Mutual</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Product2.Id</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>01tP00000092T82IAE</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Product2.Id</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>01tP00000092T82IAE</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>update_liberty_mu_Worker_s_Comp</targetReference>
            </connector>
            <label>liberty_mu_Worker&apos;s Comp</label>
        </rules>
        <rules>
            <name>liberty_im</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Carrier__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Liberty Mutual</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Product2.Name</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>IM</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>update_liberty_IM</targetReference>
            </connector>
            <label>liberty_im</label>
        </rules>
        <rules>
            <name>hardfo_PL</name>
            <conditionLogic>(1 OR 3) AND 2</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Product2.Id</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>01tP00000092T81IAE</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Carrier__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Hartford Cas Ins Co</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Product2.Id</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>01t410000045moFAAQ</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>update_hard_PL</targetReference>
            </connector>
            <label>hardfo_PL</label>
        </rules>
        <rules>
            <name>hardfo_WL</name>
            <conditionLogic>(1 OR 3) AND 2</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Product2.Id</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>01tP00000092T82IAE</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Carrier__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Hartford Cas Ins Co</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Product2.Id</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>01t410000045moKAAQ</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>update_WL</targetReference>
            </connector>
            <label>hardfo_WL</label>
        </rules>
        <rules>
            <name>markel_condition</name>
            <conditionLogic>(1 OR 3) AND 2</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Product2.Id</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>01tP00000092T81IAE</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Carrier__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Markel Ins Co</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Product2.Id</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>01t410000045moFAAQ</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>update_markel</targetReference>
            </connector>
            <label>markel_condition</label>
        </rules>
        <rules>
            <name>travelle</name>
            <conditionLogic>1 AND (2 OR 3)</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Carrier__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Travelers Commercial Ins Co</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Product2.Id</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>01tP00000092T82IAE</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Product2.Id</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>01t410000045moKAAQ</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>update_Travelers_worker</targetReference>
            </connector>
            <label>Travelers_worker</label>
        </rules>
        <rules>
            <name>Travelers_Umbrella</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Carrier__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Travelers Commercial Ins Co</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Product2.Id</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>01tP00000092T84IAE</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Product2.Id</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>01t410000045moUAAQ</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>update_Travelers_Umbrella</targetReference>
            </connector>
            <label>Travelers_Umbrella</label>
        </rules>
        <rules>
            <name>only_for_billing</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>condition_for_billing_type</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>update_billing_record</targetReference>
            </connector>
            <label>only for billing</label>
        </rules>
        <rules>
            <name>lloyds_produc</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Carrier__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>CFC Underwriting</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Product2.Id</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>01tP00000092T85IAE</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Product2.Id</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>01t410000045moZAAQ</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>llyods_update</targetReference>
            </connector>
            <label>lloyds_produc</label>
        </rules>
    </decisions>
    <decisions>
        <name>renewal_carrier_condition</name>
        <label>renewal_carrier_condition</label>
        <locationX>893</locationX>
        <locationY>66</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>hartford_carrier</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Carrier__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Hartford Cas Ins Co</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>renewal_carrier_opp</targetReference>
            </connector>
            <label>hartford_carrier</label>
        </rules>
        <rules>
            <name>progressive_renewl</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Carrier__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Progressive</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>renewal_progressive_carrier</targetReference>
            </connector>
            <label>progressive_renewal</label>
        </rules>
    </decisions>
    <decisions>
        <name>renewal_carrier_opp</name>
        <label>renewal_carrier+opp</label>
        <locationX>1153</locationX>
        <locationY>50</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Renewal_hartford_Umbrella</name>
            <conditionLogic>1 AND (2 OR 3)</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Carrier__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Hartford Cas Ins Co</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Product2.Id</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>01t410000045moUAAQ</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Product2.Id</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>01tP00000092T84IAE</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>update_hartford_umbrella</targetReference>
            </connector>
            <label>Renewal - hartford+Umbrella</label>
        </rules>
        <rules>
            <name>Renewal_hatford_Crime</name>
            <conditionLogic>1 AND (2 OR 3)</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Carrier__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Hartford Cas Ins Co</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Product2.Id</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>01tP00000092T86IAE</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Product2.Id</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>01t410000045moeAAA</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>update_hartford_cr_gl_pl</targetReference>
            </connector>
            <label>Renewal - hatford+Crime</label>
        </rules>
        <rules>
            <name>Renewal_hartford_GL_Property</name>
            <conditionLogic>1 AND ((2 OR 4) OR 3)</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Carrier__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Hartford Cas Ins Co</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Product2.Id</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>01tP00000092T80IAE</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Product2.Id</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>01t2M000005oHuIQAU</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Product2.Id</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>01t410000045moAAAQ</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>update_hartford_cr_gl_pl</targetReference>
            </connector>
            <label>Renewal -hartford+ GL, Property</label>
        </rules>
        <rules>
            <name>Renewal_hartford_PL</name>
            <conditionLogic>1 AND (2 OR 3)</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Carrier__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Hartford Cas Ins Co</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Product2.Id</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>01t410000045moFAAQ</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Product2.Id</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>01tP00000092T81IAE</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>update_hartford_cr_gl_pl</targetReference>
            </connector>
            <label>Renewal - hartford+PL</label>
        </rules>
        <rules>
            <name>Renewal_hartford_WC</name>
            <conditionLogic>1 AND ( 2 OR 3 )</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Carrier__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Hartford Cas Ins Co</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Product2.Id</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>01t410000045moKAAQ</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Product2.Id</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>01tP00000092T82IAE</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>update_hartford_wc</targetReference>
            </connector>
            <label>Renewal -hartford+ WC</label>
        </rules>
    </decisions>
    <decisions>
        <name>renewel_condition</name>
        <label>renewel_condition</label>
        <locationX>594</locationX>
        <locationY>64</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>new</name>
            <conditionLogic>(NOT(1 OR 2 OR 3))OR 4</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Opportunity.Type</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Renewal v2</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Opportunity.Type</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Renewal</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Opportunity.Type</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Third Party Renewal v2</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Opportunity.Type</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>carrier_conditions</targetReference>
            </connector>
            <label>new</label>
        </rules>
        <rules>
            <name>renewel</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Opportunity.Type</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Renewal</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Opportunity.Type</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Renewal v2</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Opportunity.Type</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Third Party Renewal v2</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>renewal_carrier_condition</targetReference>
            </connector>
            <label>renewel</label>
        </rules>
    </decisions>
    <interviewLabel>Carrier Based Field Automation {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Carrier Based Field Automation flow</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordUpdates>
        <name>Acuity_update</name>
        <label>Acuity update</label>
        <locationX>263</locationX>
        <locationY>529</locationY>
        <inputAssignments>
            <field>Billing_Type__c</field>
            <value>
                <stringValue>Direct</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Commission_Rate__c</field>
            <value>
                <numberValue>17.5</numberValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>coterie_c</name>
        <label>coterie</label>
        <locationX>264</locationX>
        <locationY>628</locationY>
        <inputAssignments>
            <field>Billing_Type__c</field>
            <value>
                <stringValue>Direct</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Commission_Rate__c</field>
            <value>
                <numberValue>15.0</numberValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>cum_and_foster_update</name>
        <label>cum and foster update</label>
        <locationX>267</locationX>
        <locationY>429</locationY>
        <inputAssignments>
            <field>Commission_Rate__c</field>
            <value>
                <numberValue>17.5</numberValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>llyods_update</name>
        <label>llyods_update</label>
        <locationX>1012</locationX>
        <locationY>708</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Carrier__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>CFC Underwriting</stringValue>
            </value>
        </filters>
        <inputAssignments>
            <field>Billing_Type__c</field>
            <value>
                <stringValue>Agency</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Commission_Rate__c</field>
            <value>
                <numberValue>10.0</numberValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>not_liberty_update</name>
        <label>not_liberty update</label>
        <locationX>89</locationX>
        <locationY>832</locationY>
        <inputAssignments>
            <field>Billing_Type__c</field>
            <value>
                <stringValue>Direct</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Commission_Rate__c</field>
            <value>
                <numberValue>15.0</numberValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>progressive_update</name>
        <label>progressive update</label>
        <locationX>690</locationX>
        <locationY>406</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Carrier__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Progressive</stringValue>
            </value>
        </filters>
        <inputAssignments>
            <field>Billing_Type__c</field>
            <value>
                <stringValue>Direct</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Commission_Rate__c</field>
            <value>
                <numberValue>10.0</numberValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>renewal_progressive_carrier</name>
        <label>renewal progressive carrier</label>
        <locationX>1002</locationX>
        <locationY>186</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Carrier__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Progressive</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Billing_Type__c</field>
            <value>
                <stringValue>Direct</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Commission_Rate__c</field>
            <value>
                <numberValue>8.0</numberValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>update_billing_record</name>
        <label>update_billing_record</label>
        <locationX>1111</locationX>
        <locationY>210</locationY>
        <inputAssignments>
            <field>Billing_Type__c</field>
            <value>
                <stringValue>Direct</stringValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>update_chubb_market3</name>
        <label>update_chubb_market3</label>
        <locationX>1045</locationX>
        <locationY>1047</locationY>
        <inputAssignments>
            <field>Billing_Type__c</field>
            <value>
                <stringValue>Direct</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Commission_Rate__c</field>
            <value>
                <numberValue>15.0</numberValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>update_chubb_market_1</name>
        <label>update_chubb_market_1</label>
        <locationX>586</locationX>
        <locationY>1028</locationY>
        <inputAssignments>
            <field>Billing_Type__c</field>
            <value>
                <stringValue>Direct</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Commission_Rate__c</field>
            <value>
                <numberValue>11.0</numberValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>update_chubb_market_2</name>
        <label>update_chubb_market_2</label>
        <locationX>869</locationX>
        <locationY>1058</locationY>
        <inputAssignments>
            <field>Billing_Type__c</field>
            <value>
                <stringValue>Direct</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Commission_Rate__c</field>
            <value>
                <numberValue>18.0</numberValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>update_chubb_um</name>
        <label>update_chubb_um</label>
        <locationX>1183</locationX>
        <locationY>556</locationY>
        <inputAssignments>
            <field>Billing_Type__c</field>
            <value>
                <stringValue>Agency</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Commission_Rate__c</field>
            <value>
                <numberValue>15.0</numberValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>update_cubb_crime</name>
        <label>update_cubb_crime</label>
        <locationX>1254</locationX>
        <locationY>855</locationY>
        <inputAssignments>
            <field>Billing_Type__c</field>
            <value>
                <stringValue>Agency</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Commission_Rate__c</field>
            <value>
                <numberValue>18.0</numberValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>updATE_CUBB_genral</name>
        <label>updATE_CUBB_genral</label>
        <locationX>1197</locationX>
        <locationY>657</locationY>
        <inputAssignments>
            <field>Billing_Type__c</field>
            <value>
                <stringValue>Agency</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Commission_Rate__c</field>
            <value>
                <numberValue>25.0</numberValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>update_cubb_pl</name>
        <label>update_cubb_pl</label>
        <locationX>1223</locationX>
        <locationY>757</locationY>
        <inputAssignments>
            <field>Billing_Type__c</field>
            <value>
                <stringValue>Agency</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Commission_Rate__c</field>
            <value>
                <numberValue>25.0</numberValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>update_hard_PL</name>
        <label>update _hard_PL</label>
        <locationX>102</locationX>
        <locationY>481</locationY>
        <inputAssignments>
            <field>Billing_Type__c</field>
            <value>
                <stringValue>Direct</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Commission_Rate__c</field>
            <value>
                <numberValue>18.0</numberValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>update_hartford_cr_gl_pl</name>
        <label>update_hartford+cr-gl-pl</label>
        <locationX>1542</locationX>
        <locationY>163</locationY>
        <inputAssignments>
            <field>Billing_Type__c</field>
            <value>
                <stringValue>Direct</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Commission_Rate__c</field>
            <value>
                <numberValue>15.0</numberValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>update_hartford_umbrella</name>
        <label>update_hartford_umbrella</label>
        <locationX>1504</locationX>
        <locationY>283</locationY>
        <inputAssignments>
            <field>Billing_Type__c</field>
            <value>
                <stringValue>Direct</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Commission_Rate__c</field>
            <value>
                <numberValue>18.0</numberValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>update_hartford_wc</name>
        <label>update_hartford+wc</label>
        <locationX>1410</locationX>
        <locationY>321</locationY>
        <inputAssignments>
            <field>Billing_Type__c</field>
            <value>
                <stringValue>Direct</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Commission_Rate__c</field>
            <value>
                <numberValue>11.0</numberValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>update_hiscox_general</name>
        <label>update_hiscox_general</label>
        <locationX>260</locationX>
        <locationY>737</locationY>
        <inputAssignments>
            <field>Billing_Type__c</field>
            <value>
                <stringValue>Direct</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Commission_Rate__c</field>
            <value>
                <numberValue>20.0</numberValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>update_liberty_IM</name>
        <label>update_liberty_IM</label>
        <locationX>83</locationX>
        <locationY>583</locationY>
        <inputAssignments>
            <field>Billing_Type__c</field>
            <value>
                <stringValue>Direct</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Commission_Rate__c</field>
            <value>
                <numberValue>20.0</numberValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>update_liberty_mu_Worker_s_Comp</name>
        <label>update_liberty_mu_Worker&apos;s Comp</label>
        <locationX>86</locationX>
        <locationY>701</locationY>
        <inputAssignments>
            <field>Billing_Type__c</field>
            <value>
                <stringValue>Direct</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Commission_Rate__c</field>
            <value>
                <numberValue>10.0</numberValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>update_markel</name>
        <label>update_markel</label>
        <locationX>610</locationX>
        <locationY>851</locationY>
        <inputAssignments>
            <field>Billing_Type__c</field>
            <value>
                <stringValue>Direct</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Commission_Rate__c</field>
            <value>
                <numberValue>15.0</numberValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>update_Travelers_Umbrella</name>
        <label>update_Travelers_Umbrella</label>
        <locationX>554</locationX>
        <locationY>832</locationY>
        <inputAssignments>
            <field>Billing_Type__c</field>
            <value>
                <stringValue>Direct</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Commission_Rate__c</field>
            <value>
                <numberValue>10.0</numberValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>update_Travelers_worker</name>
        <label>update_Travelers_worker</label>
        <locationX>420</locationX>
        <locationY>377</locationY>
        <inputAssignments>
            <field>Billing_Type__c</field>
            <value>
                <stringValue>Direct</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Commission_Rate__c</field>
            <value>
                <numberValue>12.0</numberValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>update_WL</name>
        <label>update_WL</label>
        <locationX>433</locationX>
        <locationY>802</locationY>
        <inputAssignments>
            <field>Billing_Type__c</field>
            <value>
                <stringValue>Direct</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Commission_Rate__c</field>
            <value>
                <numberValue>11.0</numberValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>50</locationX>
        <locationY>114</locationY>
        <connector>
            <targetReference>renewel_condition</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Carrier__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Product2Id</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <object>OpportunityLineItem</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Draft</status>
    <variables>
        <name>check</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>direct_billingtype</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>Direct</stringValue>
        </value>
    </variables>
</Flow>
