force-app/main/default/flows/JBSystemFlow_OpportunityContactRole.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>SalesforceObj0190427b0ee76adb1f093fbefc9d9a77_FireJBTrigger</name>
        <label>SalesforceObj0190427b0ee76adb1f093fbefc9d9a77_FireJBTrigger</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <actionName>et4ae5__JBintFireBulkEvent</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>JB_Decision_Null_Check_SalesforceObj19bea8e85b95e4ccee35f33a8d085535</targetReference>
        </connector>
        <faultConnector>
            <targetReference>JB_Decision_Null_Check_SalesforceObj19bea8e85b95e4ccee35f33a8d085535</targetReference>
        </faultConnector>
        <inputParameters>
            <name>ContactKey</name>
            <value>
                <stringValue>{&quot;relationshipIdName&quot;:&quot;ContactId&quot;,&quot;relationshipName&quot;:&quot;Contact&quot;,&quot;isPolymorphic&quot;:false,&quot;referenceObjectName&quot;:&quot;Contact&quot;,&quot;fieldName&quot;:&quot;Id&quot;}</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>SalesforceObjectId</name>
            <value>
                <elementReference>new_object.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>SalesforceObjectName</name>
            <value>
                <stringValue>OpportunityContactRole</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>EventDefinitionKey</name>
            <value>
                <stringValue>SalesforceObj0190427b0ee76adb1f093fbefc9d9a77</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>OwnerMID</name>
            <value>
                <stringValue>514000518</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>VersionNumber</name>
            <value>
                <stringValue>3.0</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>ContactPersonType</name>
            <value>
                <stringValue>Contact</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>EventDataConfig</name>
            <value>
                <stringValue>{&quot;objects&quot;:[{&quot;relationshipIdName&quot;:null,&quot;referenceObject&quot;:&quot;Contact&quot;,&quot;isPolymorphic&quot;:false,&quot;relationshipName&quot;:&quot;Contact&quot;,&quot;dePrefix&quot;:&quot;OpportunityContactRole:Contact:&quot;,&quot;fields&quot;:[&quot;Id&quot;,&quot;Email&quot;,&quot;LastName&quot;,&quot;AccountId&quot;,&quot;FirstName&quot;,&quot;HasOptedOutOfEmail&quot;]},{&quot;relationshipIdName&quot;:&quot;&quot;,&quot;referenceObject&quot;:&quot;&quot;,&quot;isPolymorphic&quot;:false,&quot;relationshipName&quot;:&quot;&quot;,&quot;dePrefix&quot;:&quot;OpportunityContactRole:&quot;,&quot;fields&quot;:[&quot;Id&quot;,&quot;ContactId&quot;]},{&quot;relationshipIdName&quot;:null,&quot;referenceObject&quot;:&quot;Opportunity&quot;,&quot;isPolymorphic&quot;:false,&quot;relationshipName&quot;:&quot;Opportunity&quot;,&quot;dePrefix&quot;:&quot;OpportunityContactRole:Opportunity:&quot;,&quot;fields&quot;:[&quot;Id&quot;,&quot;AccountId&quot;,&quot;Member_Code__c&quot;,&quot;Member_Account__c&quot;,&quot;Requirement_Code__c&quot;]}]}</stringValue>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>SalesforceObj19bea8e85b95e4ccee35f33a8d085535_FireJBTrigger</name>
        <label>SalesforceObj19bea8e85b95e4ccee35f33a8d085535_FireJBTrigger</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <actionName>et4ae5__JBintFireBulkEvent</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>JB_Decision_Null_Check_SalesforceObj545f5a769b1c82d8ef5e6f11a923e9e7</targetReference>
        </connector>
        <faultConnector>
            <targetReference>JB_Decision_Null_Check_SalesforceObj545f5a769b1c82d8ef5e6f11a923e9e7</targetReference>
        </faultConnector>
        <inputParameters>
            <name>ContactKey</name>
            <value>
                <stringValue>{&quot;relationshipIdName&quot;:&quot;ContactId&quot;,&quot;relationshipName&quot;:&quot;Contact&quot;,&quot;isPolymorphic&quot;:false,&quot;referenceObjectName&quot;:&quot;Contact&quot;,&quot;fieldName&quot;:&quot;Id&quot;}</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>SalesforceObjectId</name>
            <value>
                <elementReference>new_object.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>SalesforceObjectName</name>
            <value>
                <stringValue>OpportunityContactRole</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>EventDefinitionKey</name>
            <value>
                <stringValue>SalesforceObj19bea8e85b95e4ccee35f33a8d085535</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>OwnerMID</name>
            <value>
                <stringValue>514000518</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>VersionNumber</name>
            <value>
                <stringValue>3.0</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>ContactPersonType</name>
            <value>
                <stringValue>Contact</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>EventDataConfig</name>
            <value>
                <stringValue>{&quot;objects&quot;:[{&quot;relationshipIdName&quot;:null,&quot;referenceObject&quot;:&quot;Contact&quot;,&quot;isPolymorphic&quot;:false,&quot;relationshipName&quot;:&quot;Contact&quot;,&quot;dePrefix&quot;:&quot;OpportunityContactRole:Contact:&quot;,&quot;fields&quot;:[&quot;Id&quot;,&quot;Email&quot;,&quot;LastName&quot;,&quot;AccountId&quot;,&quot;FirstName&quot;,&quot;CreatedDate&quot;,&quot;RecordTypeId&quot;,&quot;RecordTypeName__c&quot;,&quot;HasOptedOutOfEmail&quot;]},{&quot;relationshipIdName&quot;:null,&quot;referenceObject&quot;:&quot;Opportunity&quot;,&quot;isPolymorphic&quot;:false,&quot;relationshipName&quot;:&quot;Opportunity&quot;,&quot;dePrefix&quot;:&quot;OpportunityContactRole:Opportunity:&quot;,&quot;fields&quot;:[&quot;Id&quot;,&quot;Type&quot;,&quot;AccountId&quot;,&quot;CreatedDate&quot;,&quot;Member_Code__c&quot;,&quot;Member_Account__c&quot;,&quot;Billing_Address__c&quot;,&quot;Requirement_Code__c&quot;]},{&quot;relationshipIdName&quot;:&quot;&quot;,&quot;referenceObject&quot;:&quot;&quot;,&quot;isPolymorphic&quot;:false,&quot;relationshipName&quot;:&quot;&quot;,&quot;dePrefix&quot;:&quot;OpportunityContactRole:&quot;,&quot;fields&quot;:[&quot;Id&quot;]}]}</stringValue>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>SalesforceObj49087858ec85f2bfadbd35fbf6839e5f_FireJBTrigger</name>
        <label>SalesforceObj49087858ec85f2bfadbd35fbf6839e5f_FireJBTrigger</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <actionName>et4ae5__JBintFireBulkEvent</actionName>
        <actionType>apex</actionType>
        <inputParameters>
            <name>ContactKey</name>
            <value>
                <stringValue>{&quot;relationshipIdName&quot;:&quot;ContactId&quot;,&quot;relationshipName&quot;:&quot;Contact&quot;,&quot;isPolymorphic&quot;:false,&quot;referenceObjectName&quot;:&quot;Contact&quot;,&quot;fieldName&quot;:&quot;Id&quot;}</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>SalesforceObjectId</name>
            <value>
                <elementReference>new_object.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>SalesforceObjectName</name>
            <value>
                <stringValue>OpportunityContactRole</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>EventDefinitionKey</name>
            <value>
                <stringValue>SalesforceObj49087858ec85f2bfadbd35fbf6839e5f</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>OwnerMID</name>
            <value>
                <stringValue>514000518</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>VersionNumber</name>
            <value>
                <stringValue>3.0</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>ContactPersonType</name>
            <value>
                <stringValue>Contact</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>EventDataConfig</name>
            <value>
                <stringValue>{&quot;objects&quot;:[{&quot;relationshipIdName&quot;:null,&quot;referenceObject&quot;:&quot;Contact&quot;,&quot;isPolymorphic&quot;:false,&quot;relationshipName&quot;:&quot;Contact&quot;,&quot;dePrefix&quot;:&quot;OpportunityContactRole:Contact:&quot;,&quot;fields&quot;:[&quot;Id&quot;,&quot;Email&quot;,&quot;LastName&quot;,&quot;AccountId&quot;,&quot;FirstName&quot;,&quot;RecordTypeId&quot;,&quot;RecordTypeName__c&quot;,&quot;HasOptedOutOfEmail&quot;]},{&quot;relationshipIdName&quot;:&quot;&quot;,&quot;referenceObject&quot;:&quot;&quot;,&quot;isPolymorphic&quot;:false,&quot;relationshipName&quot;:&quot;&quot;,&quot;dePrefix&quot;:&quot;OpportunityContactRole:&quot;,&quot;fields&quot;:[&quot;Id&quot;,&quot;ContactId&quot;,&quot;CreatedDate&quot;,&quot;OpportunityId&quot;]},{&quot;relationshipIdName&quot;:null,&quot;referenceObject&quot;:&quot;Opportunity&quot;,&quot;isPolymorphic&quot;:false,&quot;relationshipName&quot;:&quot;Opportunity&quot;,&quot;dePrefix&quot;:&quot;OpportunityContactRole:Opportunity:&quot;,&quot;fields&quot;:[&quot;Id&quot;,&quot;Name&quot;,&quot;Type&quot;,&quot;AccountId&quot;,&quot;CloseDate&quot;,&quot;ContactId&quot;,&quot;StageName&quot;,&quot;CreatedDate&quot;,&quot;Lost_Reason__c&quot;,&quot;Member_Code__c&quot;,&quot;Member_Account__c&quot;,&quot;Requirement_Code__c&quot;]}]}</stringValue>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>SalesforceObj545f5a769b1c82d8ef5e6f11a923e9e7_FireJBTrigger</name>
        <label>SalesforceObj545f5a769b1c82d8ef5e6f11a923e9e7_FireJBTrigger</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <actionName>et4ae5__JBintFireBulkEvent</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>JB_Decision_Null_Check_SalesforceObj49087858ec85f2bfadbd35fbf6839e5f</targetReference>
        </connector>
        <faultConnector>
            <targetReference>JB_Decision_Null_Check_SalesforceObj49087858ec85f2bfadbd35fbf6839e5f</targetReference>
        </faultConnector>
        <inputParameters>
            <name>ContactKey</name>
            <value>
                <stringValue>{&quot;relationshipIdName&quot;:&quot;ContactId&quot;,&quot;relationshipName&quot;:&quot;Contact&quot;,&quot;isPolymorphic&quot;:false,&quot;referenceObjectName&quot;:&quot;Contact&quot;,&quot;fieldName&quot;:&quot;Id&quot;}</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>SalesforceObjectId</name>
            <value>
                <elementReference>new_object.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>SalesforceObjectName</name>
            <value>
                <stringValue>OpportunityContactRole</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>EventDefinitionKey</name>
            <value>
                <stringValue>SalesforceObj545f5a769b1c82d8ef5e6f11a923e9e7</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>OwnerMID</name>
            <value>
                <stringValue>514000518</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>VersionNumber</name>
            <value>
                <stringValue>3.0</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>ContactPersonType</name>
            <value>
                <stringValue>Contact</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>EventDataConfig</name>
            <value>
                <stringValue>{&quot;objects&quot;:[{&quot;relationshipIdName&quot;:null,&quot;referenceObject&quot;:&quot;Contact&quot;,&quot;isPolymorphic&quot;:false,&quot;relationshipName&quot;:&quot;Contact&quot;,&quot;dePrefix&quot;:&quot;OpportunityContactRole:Contact:&quot;,&quot;fields&quot;:[&quot;Id&quot;,&quot;Email&quot;,&quot;LastName&quot;,&quot;FirstName&quot;,&quot;HasOptedOutOfEmail&quot;]},{&quot;relationshipIdName&quot;:&quot;&quot;,&quot;referenceObject&quot;:&quot;&quot;,&quot;isPolymorphic&quot;:false,&quot;relationshipName&quot;:&quot;&quot;,&quot;dePrefix&quot;:&quot;OpportunityContactRole:&quot;,&quot;fields&quot;:[&quot;Id&quot;]},{&quot;relationshipIdName&quot;:null,&quot;referenceObject&quot;:&quot;Opportunity&quot;,&quot;isPolymorphic&quot;:false,&quot;relationshipName&quot;:&quot;Opportunity&quot;,&quot;dePrefix&quot;:&quot;OpportunityContactRole:Opportunity:&quot;,&quot;fields&quot;:[&quot;Id&quot;,&quot;AccountId&quot;,&quot;CreatedDate&quot;,&quot;Member_Code__c&quot;,&quot;Member_Account__c&quot;,&quot;Requirement_Code__c&quot;]}]}</stringValue>
            </value>
        </inputParameters>
    </actionCalls>
    <apiVersion>49.0</apiVersion>
    <decisions>
        <name>JB_Decision_Null_Check_SalesforceObj0190427b0ee76adb1f093fbefc9d9a77</name>
        <label>JB_Decision_Null_Check_SalesforceObj0190427b0ee76adb1f093fbefc9d9a77</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>JB_Decision_Null_Check_SalesforceObj19bea8e85b95e4ccee35f33a8d085535</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>default</defaultConnectorLabel>
        <rules>
            <name>JB_SalesforceObj0190427b0ee76adb1f093fbefc9d9a77_Parameters_ContactKey_Null</name>
            <conditionLogic>1</conditionLogic>
            <conditions>
                <leftValueReference>new_object.ContactId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>JB_Decision_Null_Check_SalesforceObj19bea8e85b95e4ccee35f33a8d085535</targetReference>
            </connector>
            <label>JB_SalesforceObj0190427b0ee76adb1f093fbefc9d9a77_Parameters_ContactKey_Null</label>
        </rules>
        <rules>
            <name>JB_SalesforceObj0190427b0ee76adb1f093fbefc9d9a77_Parameters_Null</name>
            <conditionLogic>1</conditionLogic>
            <conditions>
                <leftValueReference>old_object</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>JB_SalesforceObj0190427b0ee76adb1f093fbefc9d9a77_Decision</targetReference>
            </connector>
            <label>JB_SalesforceObj0190427b0ee76adb1f093fbefc9d9a77_Parameters_Null</label>
        </rules>
    </decisions>
    <decisions>
        <name>JB_Decision_Null_Check_SalesforceObj19bea8e85b95e4ccee35f33a8d085535</name>
        <label>JB_Decision_Null_Check_SalesforceObj19bea8e85b95e4ccee35f33a8d085535</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>JB_Decision_Null_Check_SalesforceObj545f5a769b1c82d8ef5e6f11a923e9e7</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>default</defaultConnectorLabel>
        <rules>
            <name>JB_SalesforceObj19bea8e85b95e4ccee35f33a8d085535_Parameters_ContactKey_Null</name>
            <conditionLogic>1</conditionLogic>
            <conditions>
                <leftValueReference>new_object.ContactId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>JB_Decision_Null_Check_SalesforceObj545f5a769b1c82d8ef5e6f11a923e9e7</targetReference>
            </connector>
            <label>JB_SalesforceObj19bea8e85b95e4ccee35f33a8d085535_Parameters_ContactKey_Null</label>
        </rules>
        <rules>
            <name>JB_SalesforceObj19bea8e85b95e4ccee35f33a8d085535_Parameters_Null</name>
            <conditionLogic>1</conditionLogic>
            <conditions>
                <leftValueReference>old_object</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>JB_SalesforceObj19bea8e85b95e4ccee35f33a8d085535_Decision</targetReference>
            </connector>
            <label>JB_SalesforceObj19bea8e85b95e4ccee35f33a8d085535_Parameters_Null</label>
        </rules>
    </decisions>
    <decisions>
        <name>JB_Decision_Null_Check_SalesforceObj49087858ec85f2bfadbd35fbf6839e5f</name>
        <label>JB_Decision_Null_Check_SalesforceObj49087858ec85f2bfadbd35fbf6839e5f</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnectorLabel>default</defaultConnectorLabel>
        <rules>
            <name>JB_SalesforceObj49087858ec85f2bfadbd35fbf6839e5f_Parameters_ContactKey_Null</name>
            <conditionLogic>1</conditionLogic>
            <conditions>
                <leftValueReference>new_object.ContactId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <label>JB_SalesforceObj49087858ec85f2bfadbd35fbf6839e5f_Parameters_ContactKey_Null</label>
        </rules>
        <rules>
            <name>JB_SalesforceObj49087858ec85f2bfadbd35fbf6839e5f_Parameters_Null</name>
            <conditionLogic>1</conditionLogic>
            <conditions>
                <leftValueReference>old_object</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>JB_SalesforceObj49087858ec85f2bfadbd35fbf6839e5f_Decision</targetReference>
            </connector>
            <label>JB_SalesforceObj49087858ec85f2bfadbd35fbf6839e5f_Parameters_Null</label>
        </rules>
    </decisions>
    <decisions>
        <name>JB_Decision_Null_Check_SalesforceObj545f5a769b1c82d8ef5e6f11a923e9e7</name>
        <label>JB_Decision_Null_Check_SalesforceObj545f5a769b1c82d8ef5e6f11a923e9e7</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>JB_Decision_Null_Check_SalesforceObj49087858ec85f2bfadbd35fbf6839e5f</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>default</defaultConnectorLabel>
        <rules>
            <name>JB_SalesforceObj545f5a769b1c82d8ef5e6f11a923e9e7_Parameters_ContactKey_Null</name>
            <conditionLogic>1</conditionLogic>
            <conditions>
                <leftValueReference>new_object.ContactId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>JB_Decision_Null_Check_SalesforceObj49087858ec85f2bfadbd35fbf6839e5f</targetReference>
            </connector>
            <label>JB_SalesforceObj545f5a769b1c82d8ef5e6f11a923e9e7_Parameters_ContactKey_Null</label>
        </rules>
        <rules>
            <name>JB_SalesforceObj545f5a769b1c82d8ef5e6f11a923e9e7_Parameters_Null</name>
            <conditionLogic>1</conditionLogic>
            <conditions>
                <leftValueReference>old_object</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>JB_SalesforceObj545f5a769b1c82d8ef5e6f11a923e9e7_Decision</targetReference>
            </connector>
            <label>JB_SalesforceObj545f5a769b1c82d8ef5e6f11a923e9e7_Parameters_Null</label>
        </rules>
    </decisions>
    <decisions>
        <name>JB_SalesforceObj0190427b0ee76adb1f093fbefc9d9a77_Decision</name>
        <label>JB_SalesforceObj0190427b0ee76adb1f093fbefc9d9a77_Decision</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>JB_Decision_Null_Check_SalesforceObj19bea8e85b95e4ccee35f33a8d085535</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>default</defaultConnectorLabel>
        <rules>
            <name>SalesforceObj0190427b0ee76adb1f093fbefc9d9a77</name>
            <conditionLogic>(1 And  (2 AND 3) )</conditionLogic>
            <conditions>
                <leftValueReference>new_object.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>new_object.OpportunityId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>new_object.Opportunity.Requirement_Code__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>RANMI</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>SalesforceObj0190427b0ee76adb1f093fbefc9d9a77_FireJBTrigger</targetReference>
            </connector>
            <label>SalesforceObj0190427b0ee76adb1f093fbefc9d9a77</label>
        </rules>
    </decisions>
    <decisions>
        <name>JB_SalesforceObj19bea8e85b95e4ccee35f33a8d085535_Decision</name>
        <label>JB_SalesforceObj19bea8e85b95e4ccee35f33a8d085535_Decision</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>JB_Decision_Null_Check_SalesforceObj545f5a769b1c82d8ef5e6f11a923e9e7</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>default</defaultConnectorLabel>
        <rules>
            <name>SalesforceObj19bea8e85b95e4ccee35f33a8d085535</name>
            <conditionLogic>(1 And  ( ( ( ( ( ( ( ( ( (2 AND 3)  OR  (4 AND 5) )  OR  (6 AND 7) )  OR  (8 AND 9) )  OR  (10 AND 11) )  OR  (12 AND 13) )  OR  (14 AND 15) )  OR  (16 AND 17) )  OR  (18 AND 19) )  OR  (20 AND 21) ) )</conditionLogic>
            <conditions>
                <leftValueReference>new_object.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>new_object.OpportunityId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>new_object.Opportunity.Requirement_Code__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>AGTOP</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>new_object.OpportunityId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>new_object.Opportunity.Requirement_Code__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>GETOP</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>new_object.OpportunityId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>new_object.Opportunity.Requirement_Code__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>HOTOA</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>new_object.OpportunityId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>new_object.Opportunity.Requirement_Code__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>HOTOR</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>new_object.OpportunityId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>new_object.Opportunity.Requirement_Code__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>INW/5</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>new_object.OpportunityId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>new_object.Opportunity.Requirement_Code__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>ROAMT</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>new_object.OpportunityId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>new_object.Opportunity.Requirement_Code__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>PITOR</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>new_object.OpportunityId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>new_object.Opportunity.Requirement_Code__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>URTOR</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>new_object.OpportunityId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>new_object.Opportunity.Requirement_Code__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>TOAN3</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>new_object.OpportunityId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>new_object.Opportunity.Requirement_Code__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>TOWR3</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>SalesforceObj19bea8e85b95e4ccee35f33a8d085535_FireJBTrigger</targetReference>
            </connector>
            <label>SalesforceObj19bea8e85b95e4ccee35f33a8d085535</label>
        </rules>
    </decisions>
    <decisions>
        <name>JB_SalesforceObj49087858ec85f2bfadbd35fbf6839e5f_Decision</name>
        <label>JB_SalesforceObj49087858ec85f2bfadbd35fbf6839e5f_Decision</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnectorLabel>default</defaultConnectorLabel>
        <rules>
            <name>SalesforceObj49087858ec85f2bfadbd35fbf6839e5f</name>
            <conditionLogic>(1 And  ( ( ( (2 AND 3)  AND  (4 AND 5) )  AND  (6 AND 7) )  AND  (8 AND 9) ) )</conditionLogic>
            <conditions>
                <leftValueReference>new_object.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>new_object.OpportunityId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>new_object.Opportunity.Member_Account__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>0012M00002KB8FKQA1</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>new_object.OpportunityId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>new_object.Opportunity.Name</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Bulk Upload</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>new_object.OpportunityId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>new_object.Opportunity.StageName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>New Submission</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>new_object.OpportunityId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>new_object.Opportunity.Type</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>COIUploadPoaching</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>SalesforceObj49087858ec85f2bfadbd35fbf6839e5f_FireJBTrigger</targetReference>
            </connector>
            <label>SalesforceObj49087858ec85f2bfadbd35fbf6839e5f</label>
        </rules>
    </decisions>
    <decisions>
        <name>JB_SalesforceObj545f5a769b1c82d8ef5e6f11a923e9e7_Decision</name>
        <label>JB_SalesforceObj545f5a769b1c82d8ef5e6f11a923e9e7_Decision</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>JB_Decision_Null_Check_SalesforceObj49087858ec85f2bfadbd35fbf6839e5f</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>default</defaultConnectorLabel>
        <rules>
            <name>SalesforceObj545f5a769b1c82d8ef5e6f11a923e9e7</name>
            <conditionLogic>(1 And  ( (2 AND 3)  AND  ( (4 AND 5)  OR  (6 AND 7) ) ) )</conditionLogic>
            <conditions>
                <leftValueReference>new_object.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>new_object.OpportunityId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>new_object.Opportunity.Requirement_Code__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>ADVPO</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>new_object.OpportunityId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>new_object.Opportunity.Member_Account__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>0012M00002NzH7FQAV</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>new_object.OpportunityId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>new_object.Opportunity.Member_Code__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>HomeGauge</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>SalesforceObj545f5a769b1c82d8ef5e6f11a923e9e7_FireJBTrigger</targetReference>
            </connector>
            <label>SalesforceObj545f5a769b1c82d8ef5e6f11a923e9e7</label>
        </rules>
    </decisions>
    <label>JBSystemFlow_OpportunityContactRole</label>
    <processType>AutoLaunchedFlow</processType>
    <startElementReference>JB_Decision_Null_Check_SalesforceObj0190427b0ee76adb1f093fbefc9d9a77</startElementReference>
    <status>Active</status>
    <variables>
        <name>new_object</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>OpportunityContactRole</objectType>
    </variables>
    <variables>
        <name>old_object</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>OpportunityContactRole</objectType>
    </variables>
</Flow>
