force-app/main/default/flows/RenewalTest.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>49.0</apiVersion>
    <assignments>
        <name>All_in_One</name>
        <label>All in One</label>
        <locationX>809</locationX>
        <locationY>355</locationY>
        <assignmentItems>
            <assignToReference>SOCNewOLI</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>lv_oli</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>extract_1_by_1</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_data_into_new_a_SObject_Variable</name>
        <label>Assign data into new a SObject Variable</label>
        <locationX>817</locationX>
        <locationY>225</locationY>
        <assignmentItems>
            <assignToReference>NEWOLIOpportunityID</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>VarT_NewOpportunityId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NEWOLIPricebookEntryID</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>lv_oli.PricebookEntryId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NEWOLIUnitPrice</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>0</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NEWOLIQuantity</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>lv_oli.Quantity</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NEWOLICoverageLimits</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>lv_oli.Coverage_Limits__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NEWOLIBroker</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>lv_oli.Broker__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NEWOLICarrier</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>lv_oli.Carrier__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NEWOLIBrokerCarrier</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>lv_oli.Broker_Carrier__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>All_in_One</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>check_SOC_OLI_size</name>
        <label>check SOC_OLI size</label>
        <locationX>378</locationX>
        <locationY>353</locationY>
        <defaultConnectorLabel>[Default Outcome]</defaultConnectorLabel>
        <rules>
            <name>not_null</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>OLI</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>extract_1_by_1</targetReference>
            </connector>
            <label>not null</label>
        </rules>
    </decisions>
    <interviewLabel>RenewalTest {!$Flow.CurrentDateTime}</interviewLabel>
    <label>RenewalTest3</label>
    <loops>
        <name>extract_1_by_1</name>
        <label>extract 1 by 1</label>
        <locationX>577</locationX>
        <locationY>224</locationY>
        <assignNextValueToReference>lv_oli</assignNextValueToReference>
        <collectionReference>OLI</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Assign_data_into_new_a_SObject_Variable</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>create_new_oli</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>create_new_oli</name>
        <label>create new oli</label>
        <locationX>575</locationX>
        <locationY>365</locationY>
        <inputReference>SOCNewOLI</inputReference>
    </recordCreates>
    <recordCreates>
        <name>Create_new_opportunity</name>
        <label>Create new opportunity</label>
        <locationX>380</locationX>
        <locationY>222</locationY>
        <assignRecordIdToReference>VarT_NewOpportunityId</assignRecordIdToReference>
        <connector>
            <targetReference>check_SOC_OLI_size</targetReference>
        </connector>
        <inputAssignments>
            <field>CloseDate</field>
            <value>
                <dateValue>2018-08-31</dateValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Customer_Transaction_Type__c</field>
            <value>
                <stringValue>Mech Turk</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Name</field>
            <value>
                <elementReference>VarT_OldOpportunityName</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <stringValue>01241000000z6NKAAY</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>StageName</field>
            <value>
                <stringValue>New Submission</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Type</field>
            <value>
                <stringValue>Renewal</stringValue>
            </value>
        </inputAssignments>
        <object>Opportunity</object>
    </recordCreates>
    <recordLookups>
        <name>To_get_all_Line_Items_from_existing_opportunity</name>
        <label>To get all Line Items from existing opportunity</label>
        <locationX>208</locationX>
        <locationY>218</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Create_new_opportunity</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>OpportunityId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>VarT_OldOpportunityId</elementReference>
            </value>
        </filters>
        <object>OpportunityLineItem</object>
        <outputReference>OLI</outputReference>
        <queriedFields>OpportunityId</queriedFields>
        <queriedFields>Quantity</queriedFields>
        <queriedFields>UnitPrice</queriedFields>
        <queriedFields>Product2Id</queriedFields>
        <queriedFields>PricebookEntryId</queriedFields>
        <queriedFields>ProductCode</queriedFields>
        <queriedFields>Coverage_Limits__c</queriedFields>
        <queriedFields>Broker__c</queriedFields>
        <queriedFields>Broker_Carrier__c</queriedFields>
        <queriedFields>Carrier__c</queriedFields>
        <queriedFields>Commission_Rate__c</queriedFields>
    </recordLookups>
    <startElementReference>create_new_oli</startElementReference>
    <status>Active</status>
    <variables>
        <name>lv_oli</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>OpportunityLineItem</objectType>
    </variables>
    <variables>
        <name>NEWOLIBroker</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>NEWOLIBrokerCarrier</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>NEWOLICarrier</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>NEWOLICoverageLimits</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>NEWOLIOpportunityID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>NEWOLIPricebookEntryID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>NEWOLIQuantity</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>NEWOLIUnitPrice</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>OLI</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>OpportunityLineItem</objectType>
    </variables>
    <variables>
        <name>SOCNewOLI</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>OpportunityLineItem</objectType>
    </variables>
    <variables>
        <name>VarT_AccountId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>VarT_NewOpportunityId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>VarT_OldOpportunityId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>VarT_OldOpportunityName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>VarT_PricebookId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
