force-app/main/default/flows/Renewal_Opp_Flow_Expo_Date.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>49.0</apiVersion>
    <assignments>
        <name>Set_Earliest_Expiration_Date</name>
        <label>Set Earliest Expiration Date</label>
        <locationX>360</locationX>
        <locationY>457</locationY>
        <assignmentItems>
            <assignToReference>Fetch_New_Renewal_Opp.CloseDate</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>EarliestPolicyExpirationDate</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Set_Effective_Date_Cohort</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Effective_Date_Cohort</name>
        <label>Set Effective Date Cohort</label>
        <locationX>232</locationX>
        <locationY>457</locationY>
        <assignmentItems>
            <assignToReference>Fetch_New_Renewal_Opp.Effective_Date_Cohort__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Closed_Won_Opportunity.Expiration_Cohort__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Renewal_with_Expiration</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Expiration_Date</name>
        <label>Set Expiration Date</label>
        <locationX>1223</locationX>
        <locationY>493</locationY>
        <assignmentItems>
            <assignToReference>EarliestPolicyExpirationDate</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Looped_Opportunity_Product.Expiration_Date__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_Renewal_Product</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Expiration_Date_Variable_Set</name>
        <label>Expiration Date Variable Set</label>
        <locationX>704</locationX>
        <locationY>473</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Set_Variable</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>EarliestPolicyExpirationDate</leftValueReference>
                <operator>LessThan</operator>
                <rightValue>
                    <dateValue>3000-12-31</dateValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Fetch_New_Renewal_Opp</targetReference>
            </connector>
            <label>Set Variable</label>
        </rules>
    </decisions>
    <decisions>
        <name>Has_Earliest_Expiration</name>
        <label>Has Earliest Expiration</label>
        <locationX>1116</locationX>
        <locationY>276</locationY>
        <defaultConnector>
            <targetReference>Create_Renewal_Product</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Earlier_Expiration</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>EarliestPolicyExpirationDate</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <elementReference>Looped_Opportunity_Product.Expiration_Date__c</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Looped_Opportunity_Product.Expiration_Date__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Expiration_Date</targetReference>
            </connector>
            <label>Earlier Expiration</label>
        </rules>
    </decisions>
    <formulas>
        <name>Renewal_EarliestExpo</name>
        <dataType>Date</dataType>
        <expression>DATE(
YEAR({!EarliestPolicyExpirationDate})+1,
MONTH({!EarliestPolicyExpirationDate}),
DAY({!EarliestPolicyExpirationDate})
)</expression>
    </formulas>
    <formulas>
        <name>RenewalCloseDate</name>
        <dataType>Date</dataType>
        <expression>{!Closed_Won_Opportunity.CloseDate}+365</expression>
    </formulas>
    <interviewLabel>Renewal Opp Flow - Expo Date {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Renewal Opp Flow - Expo Date</label>
    <loops>
        <name>For_Each_Opportunity_Product</name>
        <label>For Each Opportunity Product</label>
        <locationX>933</locationX>
        <locationY>377</locationY>
        <assignNextValueToReference>Looped_Opportunity_Product</assignNextValueToReference>
        <collectionReference>Get_Opportunity_Products</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Has_Earliest_Expiration</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Expiration_Date_Variable_Set</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Create_Renewal_Opportunity</name>
        <label>Create Renewal Opportunity</label>
        <locationX>754</locationX>
        <locationY>272</locationY>
        <connector>
            <targetReference>For_Each_Opportunity_Product</targetReference>
        </connector>
        <inputAssignments>
            <field>AccountId</field>
            <value>
                <elementReference>Closed_Won_Opportunity.AccountId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>BunkerContractId__c</field>
            <value>
                <elementReference>Closed_Won_Opportunity.BunkerContractId__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CloseDate</field>
            <value>
                <elementReference>Closed_Won_Opportunity.CloseDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Member_Account__c</field>
            <value>
                <elementReference>Closed_Won_Opportunity.Member_Account__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Member_Code__c</field>
            <value>
                <elementReference>Closed_Won_Opportunity.Member_Code__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Name</field>
            <value>
                <stringValue>Renewal</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>Get_Mo_Bunker.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Pricebook2Id</field>
            <value>
                <elementReference>Get_Pricebook.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <elementReference>Closed_Won_Opportunity.RecordTypeId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Requirement_Code__c</field>
            <value>
                <elementReference>Closed_Won_Opportunity.Requirement_Code__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>StageName</field>
            <value>
                <stringValue>New Submission</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Type</field>
            <value>
                <stringValue>Renewal v2</stringValue>
            </value>
        </inputAssignments>
        <object>Opportunity</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Create_Renewal_Product</name>
        <label>Create Renewal Product</label>
        <locationX>1050</locationX>
        <locationY>532</locationY>
        <connector>
            <targetReference>For_Each_Opportunity_Product</targetReference>
        </connector>
        <inputAssignments>
            <field>Billing_Frequency__c</field>
            <value>
                <elementReference>Looped_Opportunity_Product.Billing_Frequency__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Billing_Type__c</field>
            <value>
                <elementReference>Looped_Opportunity_Product.Billing_Type__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Broker_Carrier__c</field>
            <value>
                <elementReference>Looped_Opportunity_Product.Broker_Carrier__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Broker__c</field>
            <value>
                <elementReference>Looped_Opportunity_Product.Broker__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Carrier__c</field>
            <value>
                <elementReference>Looped_Opportunity_Product.Carrier__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Coverage_Limits__c</field>
            <value>
                <elementReference>Looped_Opportunity_Product.Coverage_Limits__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OpportunityId</field>
            <value>
                <elementReference>Create_Renewal_Opportunity</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Opportunity_Product_Code__c</field>
            <value>
                <elementReference>Looped_Opportunity_Product.Opportunity_Product_Code__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Product2Id</field>
            <value>
                <elementReference>Looped_Opportunity_Product.Product2Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Quantity</field>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>TotalPrice</field>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </inputAssignments>
        <object>OpportunityLineItem</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordLookups>
        <name>Fetch_New_Renewal_Opp</name>
        <label>Fetch New Renewal Opp</label>
        <locationX>518</locationX>
        <locationY>551</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Set_Earliest_Expiration_Date</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Create_Renewal_Opportunity</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Opportunity</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Mo_Bunker</name>
        <label>Get Mo Bunker</label>
        <locationX>492</locationX>
        <locationY>145</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Pricebook</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Alias</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>mo</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>User</object>
        <queriedFields>Id</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Opportunity_Products</name>
        <label>Get Opportunity Products</label>
        <locationX>872</locationX>
        <locationY>134</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Create_Renewal_Opportunity</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>OpportunityId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Closed_Won_Opportunity.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>OpportunityLineItem</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Pricebook</name>
        <label>Get Pricebook</label>
        <locationX>658</locationX>
        <locationY>53</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Opportunity_Products</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>IsStandard</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Pricebook2</object>
        <queriedFields>Id</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_Renewal_with_Expiration</name>
        <label>Update Renewal with Expiration</label>
        <locationX>50</locationX>
        <locationY>457</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Fetch_New_Renewal_Opp.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>CloseDate</field>
            <value>
                <elementReference>Renewal_EarliestExpo</elementReference>
            </value>
        </inputAssignments>
        <object>Opportunity</object>
    </recordUpdates>
    <start>
        <locationX>339</locationX>
        <locationY>50</locationY>
        <connector>
            <targetReference>Get_Mo_Bunker</targetReference>
        </connector>
    </start>
    <status>Draft</status>
    <variables>
        <name>Closed_Won_Opportunity</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>Opportunity</objectType>
    </variables>
    <variables>
        <name>EarliestPolicyExpirationDate</name>
        <dataType>Date</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <dateValue>3000-12-31</dateValue>
        </value>
    </variables>
    <variables>
        <name>Looped_Opportunity_Product</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>OpportunityLineItem</objectType>
    </variables>
</Flow>
