force-app/main/default/flows/Set_Certificate_Values.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>55.0</apiVersion>
    <assignments>
        <name>Set_Other_Policy_2</name>
        <label>Set Other Policy 2</label>
        <locationX>9724</locationX>
        <locationY>1775</locationY>
        <assignmentItems>
            <assignToReference>OtherPolicy2.Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Sort_Products_by_Type.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>OtherPolicy2.Additional_Insured__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Sort_Products_by_Type.Additional_Insured__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>OtherPolicy2.Waiver_of_Subrogation__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Sort_Products_by_Type.Waiver_of_Subrogation__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>OtherPolicy2.Policy_Group__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Sort_Products_by_Type.Policy_Group__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Set_Other_Policy_2_Fields</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_OtherPolicy_1</name>
        <label>Set OtherPolicy 1</label>
        <locationX>8096</locationX>
        <locationY>1655</locationY>
        <assignmentItems>
            <assignToReference>OtherPolicy1.Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Sort_Products_by_Type.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>OtherPolicy1.Additional_Insured__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Sort_Products_by_Type.Additional_Insured__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>OtherPolicy1.Waiver_of_Subrogation__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Sort_Products_by_Type.Waiver_of_Subrogation__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>OtherPolicy1.Policy_Group__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Sort_Products_by_Type.Policy_Group__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Set_Other_Policy_1_Fields</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>AI_1</name>
        <label>AI 1</label>
        <locationX>8096</locationX>
        <locationY>1895</locationY>
        <defaultConnector>
            <targetReference>WS_1</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Not Blanket</defaultConnectorLabel>
        <rules>
            <name>Blanket_AI_1</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>OtherPolicy1.Additional_Insured__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Blanket</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_AI_to_Blanket_Other1</targetReference>
            </connector>
            <label>Blanket</label>
        </rules>
    </decisions>
    <decisions>
        <name>AI_2</name>
        <label>AI 2</label>
        <locationX>9856</locationX>
        <locationY>2111</locationY>
        <defaultConnector>
            <targetReference>WS_2</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Not Blanket</defaultConnectorLabel>
        <rules>
            <name>Blanket_AI_1_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>OtherPolicy2.Additional_Insured__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Blanket</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_AI_to_Blanket_Other2</targetReference>
            </connector>
            <label>Blanket</label>
        </rules>
    </decisions>
    <decisions>
        <name>AI_Type</name>
        <label>AI Type</label>
        <locationX>1056</locationX>
        <locationY>1655</locationY>
        <defaultConnector>
            <targetReference>Waiver_of_Subrogation</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>NotBlanket</defaultConnectorLabel>
        <rules>
            <name>Blanket</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Sort_Products_by_Type.Additional_Insured__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Blanket</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_AI_to_Y</targetReference>
            </connector>
            <label>Blanket</label>
        </rules>
    </decisions>
    <decisions>
        <name>AI_Type_0</name>
        <label>AI Type</label>
        <locationX>2816</locationX>
        <locationY>1655</locationY>
        <defaultConnector>
            <targetReference>Waiver_of_Subrogation_0</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>NotBlanket</defaultConnectorLabel>
        <rules>
            <name>Blanket_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Sort_Products_by_Type.Additional_Insured__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Blanket</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_AI_to_Y_0</targetReference>
            </connector>
            <label>Blanket</label>
        </rules>
    </decisions>
    <decisions>
        <name>AI_Type_0_0</name>
        <label>AI Type</label>
        <locationX>4576</locationX>
        <locationY>1655</locationY>
        <defaultConnector>
            <targetReference>Waiver_of_Subrogation_0_0</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>NotBlanket</defaultConnectorLabel>
        <rules>
            <name>Blanket_0_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Sort_Products_by_Type.Additional_Insured__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Blanket</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_AI_to_Y_Umb</targetReference>
            </connector>
            <label>Blanket</label>
        </rules>
    </decisions>
    <decisions>
        <name>GL_Aggregate_0</name>
        <label>GL Aggregate</label>
        <locationX>1056</locationX>
        <locationY>2327</locationY>
        <defaultConnector>
            <targetReference>Set_to_Per_Policy_0</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Per Policy - Default</defaultConnectorLabel>
        <rules>
            <name>Per_Location_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Sort_Products_by_Type.Aggregate_Applies__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Per Location</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_to_Per_Location_0</targetReference>
            </connector>
            <label>Per Location</label>
        </rules>
        <rules>
            <name>Per_Project_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Sort_Products_by_Type.Aggregate_Applies__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Per Project</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_to_Per_Project_0</targetReference>
            </connector>
            <label>Per Project</label>
        </rules>
    </decisions>
    <decisions>
        <name>OtherPolicy_1</name>
        <label>OtherPolicy 1</label>
        <locationX>8976</locationX>
        <locationY>1535</locationY>
        <defaultConnector>
            <targetReference>OtherPolicy_2</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Not Empty</defaultConnectorLabel>
        <rules>
            <name>Is_Empty</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>OtherPolicy1.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_OtherPolicy_1</targetReference>
            </connector>
            <label>Is Empty</label>
        </rules>
    </decisions>
    <decisions>
        <name>OtherPolicy_2</name>
        <label>OtherPolicy 2</label>
        <locationX>9856</locationX>
        <locationY>1655</locationY>
        <defaultConnector>
            <targetReference>AI_2</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Not Empty</defaultConnectorLabel>
        <rules>
            <name>Is_Empty_2</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>OtherPolicy2.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Other_Policy_2</targetReference>
            </connector>
            <label>Is Empty</label>
        </rules>
    </decisions>
    <decisions>
        <name>Policy_Group</name>
        <label>Policy Group</label>
        <locationX>1056</locationX>
        <locationY>2663</locationY>
        <defaultConnector>
            <targetReference>Sort_Products_by_Type</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>A</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Sort_Products_by_Type.Policy_Group__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Group A</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_INSRLTR</targetReference>
            </connector>
            <label>A</label>
        </rules>
        <rules>
            <name>B</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Sort_Products_by_Type.Policy_Group__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Group B</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_INSRLTR_0</targetReference>
            </connector>
            <label>B</label>
        </rules>
        <rules>
            <name>C</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Sort_Products_by_Type.Policy_Group__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Group C</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_INSRLTR_0_0</targetReference>
            </connector>
            <label>C</label>
        </rules>
        <rules>
            <name>D</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Sort_Products_by_Type.Policy_Group__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Group D</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_INSRLTR_0_0_0</targetReference>
            </connector>
            <label>D</label>
        </rules>
        <rules>
            <name>E</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Sort_Products_by_Type.Policy_Group__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Group E</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_INSRLTR_0_0_0_0</targetReference>
            </connector>
            <label>E</label>
        </rules>
        <rules>
            <name>F</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Sort_Products_by_Type.Policy_Group__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Group F</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_INSRLTR_0_0_0_0_0</targetReference>
            </connector>
            <label>F</label>
        </rules>
    </decisions>
    <decisions>
        <name>Policy_Group_0</name>
        <label>Policy Group</label>
        <locationX>2816</locationX>
        <locationY>2327</locationY>
        <defaultConnector>
            <targetReference>Sort_Products_by_Type</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>A_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Sort_Products_by_Type.Policy_Group__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Group A</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_INSRLTR_0_0_0_0_0_0</targetReference>
            </connector>
            <label>A</label>
        </rules>
        <rules>
            <name>B_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Sort_Products_by_Type.Policy_Group__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Group B</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_INSRLTR_0_0_0_0_0_0_0</targetReference>
            </connector>
            <label>B</label>
        </rules>
        <rules>
            <name>C_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Sort_Products_by_Type.Policy_Group__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Group C</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_INSRLTR_0_0_0_0_0_0_0_0</targetReference>
            </connector>
            <label>C</label>
        </rules>
        <rules>
            <name>D_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Sort_Products_by_Type.Policy_Group__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Group D</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_INSRLTR_0_0_0_0_0_0_0_0_0</targetReference>
            </connector>
            <label>D</label>
        </rules>
        <rules>
            <name>E_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Sort_Products_by_Type.Policy_Group__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Group E</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_INSRLTR_0_0_0_0_0_0_0_0_0_0</targetReference>
            </connector>
            <label>E</label>
        </rules>
        <rules>
            <name>F_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Sort_Products_by_Type.Policy_Group__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Group F</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_INSRLTR_0_0_0_0_0_0_0_0_0_0_0</targetReference>
            </connector>
            <label>F</label>
        </rules>
    </decisions>
    <decisions>
        <name>Policy_Group_0_0</name>
        <label>Policy Group</label>
        <locationX>4576</locationX>
        <locationY>2999</locationY>
        <defaultConnector>
            <targetReference>Sort_Products_by_Type</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>A_0_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Sort_Products_by_Type.Policy_Group__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Group A</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_INSRLTR_0_0_0_0_0_0_0_0_0_0_0_0</targetReference>
            </connector>
            <label>A</label>
        </rules>
        <rules>
            <name>B_0_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Sort_Products_by_Type.Policy_Group__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Group B</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_INSRLTR_0_0_0_0_0_0_0_0_0_0_0_0_0</targetReference>
            </connector>
            <label>B</label>
        </rules>
        <rules>
            <name>C_0_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Sort_Products_by_Type.Policy_Group__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Group C</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_INSRLTR_0_0_0_0_0_0_0_0_0_0_0_0_0_0</targetReference>
            </connector>
            <label>C</label>
        </rules>
        <rules>
            <name>D_0_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Sort_Products_by_Type.Policy_Group__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Group D</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_INSRLTR_0_0_0_0_0_0_0_0_0_0_0_0_0_0_0</targetReference>
            </connector>
            <label>D</label>
        </rules>
        <rules>
            <name>E_0_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Sort_Products_by_Type.Policy_Group__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Group E</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_INSRLTR_0_0_0_0_0_0_0_0_0_0_0_0_0_0_0_0</targetReference>
            </connector>
            <label>E</label>
        </rules>
        <rules>
            <name>F_0_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Sort_Products_by_Type.Policy_Group__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Group F</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_INSRLTR_0_0_0_0_0_0_0_0_0_0_0_0_0_0_0_0_0</targetReference>
            </connector>
            <label>F</label>
        </rules>
    </decisions>
    <decisions>
        <name>Policy_Group_0_0_0</name>
        <label>Policy Group</label>
        <locationX>6336</locationX>
        <locationY>1991</locationY>
        <defaultConnector>
            <targetReference>Sort_Products_by_Type</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>A_0_0_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Sort_Products_by_Type.Policy_Group__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Group A</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_INSRLTR_0_0_0_0_0_0_0_0_0_0_0_0_0_0_0_0_0_0</targetReference>
            </connector>
            <label>A</label>
        </rules>
        <rules>
            <name>B_0_0_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Sort_Products_by_Type.Policy_Group__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Group B</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_INSRLTR_0_0_0_0_0_0_0_0_0_0_0_0_0_0_0_0_0_0_0</targetReference>
            </connector>
            <label>B</label>
        </rules>
        <rules>
            <name>C_0_0_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Sort_Products_by_Type.Policy_Group__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Group C</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_INSRLTR_0_0_0_0_0_0_0_0_0_0_0_0_0_0_0_0_0_0_0_0</targetReference>
            </connector>
            <label>C</label>
        </rules>
        <rules>
            <name>D_0_0_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Sort_Products_by_Type.Policy_Group__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Group D</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_INSRLTR_0_0_0_0_0_0_0_0_0_0_0_0_0_0_0_0_0_0_0_0_0</targetReference>
            </connector>
            <label>D</label>
        </rules>
        <rules>
            <name>E_0_0_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Sort_Products_by_Type.Policy_Group__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Group E</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_INSRLTR_0_0_0_0_0_0_0_0_0_0_0_0_0_0_0_0_0_0_0_0_0_0</targetReference>
            </connector>
            <label>E</label>
        </rules>
        <rules>
            <name>F_0_0_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Sort_Products_by_Type.Policy_Group__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Group F</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_INSRLTR_0_0_0_0_0_0_0_0_0_0_0_0_0_0_0_0_0_0_0_0_0_0_0</targetReference>
            </connector>
            <label>F</label>
        </rules>
    </decisions>
    <decisions>
        <name>Policy_Group_0_0_0_0</name>
        <label>Policy Group</label>
        <locationX>8096</locationX>
        <locationY>2567</locationY>
        <defaultConnector>
            <targetReference>Sort_Products_by_Type</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>A_other1</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>OtherPolicy1.Policy_Group__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Group A</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_INSRLTR_0_0_0_0_0_0_0_0_0_0_0_0_0_0_0_0_0_0_0_0_0_0_0_0</targetReference>
            </connector>
            <label>A</label>
        </rules>
        <rules>
            <name>B_0_0_0_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>OtherPolicy1.Policy_Group__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Group B</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_INSRLTR_other1_b</targetReference>
            </connector>
            <label>B</label>
        </rules>
        <rules>
            <name>C_0_0_0_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>OtherPolicy1.Policy_Group__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Group C</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_INSRLTR_00</targetReference>
            </connector>
            <label>C</label>
        </rules>
        <rules>
            <name>D_0_0_0_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>OtherPolicy1.Policy_Group__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Group D</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_INSRLTR_000</targetReference>
            </connector>
            <label>D</label>
        </rules>
        <rules>
            <name>E_0_0_0_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>OtherPolicy1.Policy_Group__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Group E</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_INSRLTR_0_0_000</targetReference>
            </connector>
            <label>E</label>
        </rules>
        <rules>
            <name>F_0_0_0_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>OtherPolicy1.Policy_Group__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Group F</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_INSRLTR_0_0_0_0_0_000</targetReference>
            </connector>
            <label>F</label>
        </rules>
    </decisions>
    <decisions>
        <name>Policy_Group_0_0_0_0_0</name>
        <label>Policy Group</label>
        <locationX>9856</locationX>
        <locationY>2783</locationY>
        <defaultConnector>
            <targetReference>Sort_Products_by_Type</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>A_0_0_0_0_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>OtherPolicy2.Policy_Group__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Group A</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_INSRLTR_02</targetReference>
            </connector>
            <label>A</label>
        </rules>
        <rules>
            <name>B_0_0_0_0_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>OtherPolicy2.Policy_Group__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Group B</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_INSRLTR_022</targetReference>
            </connector>
            <label>B</label>
        </rules>
        <rules>
            <name>C_0_0_0_0_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>OtherPolicy2.Policy_Group__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Group C</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_INSRLTR_0_0_0_0_0_0_2</targetReference>
            </connector>
            <label>C</label>
        </rules>
        <rules>
            <name>D_0_0_0_0_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>OtherPolicy2.Policy_Group__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Group D</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_INSRLTR_0_0_0_0_02</targetReference>
            </connector>
            <label>D</label>
        </rules>
        <rules>
            <name>E_0_0_0_0_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>OtherPolicy2.Policy_Group__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Group E</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_INSRLTR_0_0_0_0_0_0_0_0_0_0_0_0_2</targetReference>
            </connector>
            <label>E</label>
        </rules>
        <rules>
            <name>F_0_0_0_0_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>OtherPolicy2.Policy_Group__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Group F</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_INSRLTR_othr22</targetReference>
            </connector>
            <label>F</label>
        </rules>
    </decisions>
    <decisions>
        <description>Sort Products</description>
        <name>Product_Name</name>
        <label>Product Name</label>
        <locationX>5016</locationX>
        <locationY>1415</locationY>
        <defaultConnector>
            <targetReference>OtherPolicy_1</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>General_Liability</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Sort_Products_by_Type.Product2.ProductCode</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>GL</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_GL_Fields</targetReference>
            </connector>
            <label>General Liability</label>
        </rules>
        <rules>
            <name>Auto</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>Sort_Products_by_Type.Product2.ProductCode</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>HNOA</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Sort_Products_by_Type.ProductCode</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>COAT</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Auto_Details</targetReference>
            </connector>
            <label>Auto</label>
        </rules>
        <rules>
            <name>Umbrella_Liability</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Sort_Products_by_Type.Product2.ProductCode</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>UL</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Umbrella_Limits</targetReference>
            </connector>
            <label>Umbrella Liability</label>
        </rules>
        <rules>
            <name>Workers_Compensation</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Sort_Products_by_Type.Product2.ProductCode</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>WC</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_WC_Limits</targetReference>
            </connector>
            <label>Workers&apos; Compensation</label>
        </rules>
    </decisions>
    <decisions>
        <name>Umbrella_Form</name>
        <label>Umbrella Form</label>
        <locationX>4576</locationX>
        <locationY>2327</locationY>
        <defaultConnector>
            <targetReference>Set_to_Occurrence_Based</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Occurrence Based - Default</defaultConnectorLabel>
        <rules>
            <name>ClaimsMade</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Sort_Products_by_Type.Form__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Claims Made</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_to_Claims_Made_0</targetReference>
            </connector>
            <label>Claims Made</label>
        </rules>
    </decisions>
    <decisions>
        <name>UmbrellaType</name>
        <label>UmbrellaType</label>
        <locationX>4576</locationX>
        <locationY>2663</locationY>
        <defaultConnector>
            <targetReference>Set_to_Umbrella</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Umbrella (Default)</defaultConnectorLabel>
        <rules>
            <name>Excess</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Sort_Products_by_Type.Umbrella_Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Excess</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_to_Excess</targetReference>
            </connector>
            <label>Excess</label>
        </rules>
    </decisions>
    <decisions>
        <name>Waiver_of_Subrogation</name>
        <label>Waiver of Subrogation</label>
        <locationX>1056</locationX>
        <locationY>1991</locationY>
        <defaultConnector>
            <targetReference>GL_Aggregate_0</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>NotBlanket_WOS</defaultConnectorLabel>
        <rules>
            <name>Blanket_wos</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Sort_Products_by_Type.Waiver_of_Subrogation__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Blanket</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>GL_WS_Y</targetReference>
            </connector>
            <label>Blanket</label>
        </rules>
    </decisions>
    <decisions>
        <name>Waiver_of_Subrogation_0</name>
        <label>Waiver of Subrogation</label>
        <locationX>2816</locationX>
        <locationY>1991</locationY>
        <defaultConnector>
            <targetReference>Policy_Group_0</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>NotBlanket_WOS</defaultConnectorLabel>
        <rules>
            <name>Blanket_wos_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Sort_Products_by_Type.Waiver_of_Subrogation__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Blanket</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Auto_WS_Y</targetReference>
            </connector>
            <label>Blanket</label>
        </rules>
    </decisions>
    <decisions>
        <name>Waiver_of_Subrogation_0_0</name>
        <label>Waiver of Subrogation</label>
        <locationX>4576</locationX>
        <locationY>1991</locationY>
        <defaultConnector>
            <targetReference>Umbrella_Form</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>NotBlanket_WOS</defaultConnectorLabel>
        <rules>
            <name>Blanket_wos_0_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Sort_Products_by_Type.Waiver_of_Subrogation__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Blanket</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_WS_to_Y_Umb</targetReference>
            </connector>
            <label>Blanket</label>
        </rules>
    </decisions>
    <decisions>
        <name>Waiver_of_Subrogation_WC</name>
        <label>Waiver of Subrogation</label>
        <locationX>6336</locationX>
        <locationY>1655</locationY>
        <defaultConnector>
            <targetReference>Policy_Group_0_0_0</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Not Blanket</defaultConnectorLabel>
        <rules>
            <name>Blanket_AI_WC</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Sort_Products_by_Type.Waiver_of_Subrogation__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Blanket</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_WS_to_Y_WC_0</targetReference>
            </connector>
            <label>Blanket</label>
        </rules>
    </decisions>
    <decisions>
        <name>WS_1</name>
        <label>WS-1</label>
        <locationX>8096</locationX>
        <locationY>2231</locationY>
        <defaultConnector>
            <targetReference>Policy_Group_0_0_0_0</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Not Blanket</defaultConnectorLabel>
        <rules>
            <name>Blanket_WS_1</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>OtherPolicy1.Waiver_of_Subrogation__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Blanket</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_WS_Other_1</targetReference>
            </connector>
            <label>Blanket</label>
        </rules>
    </decisions>
    <decisions>
        <name>WS_2</name>
        <label>WS-2</label>
        <locationX>9856</locationX>
        <locationY>2447</locationY>
        <defaultConnector>
            <targetReference>Policy_Group_0_0_0_0_0</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Not Blanket</defaultConnectorLabel>
        <rules>
            <name>Blanket_WS_2</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>OtherPolicy2.Waiver_of_Subrogation__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Blanket</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_WS_Other_2</targetReference>
            </connector>
            <label>Blanket</label>
        </rules>
    </decisions>
    <interviewLabel>Set Certificate Values {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Set Certificate Values - Not Clones</label>
    <loops>
        <name>Sort_Products_by_Type</name>
        <label>Sort Products by Type</label>
        <locationX>176</locationX>
        <locationY>1295</locationY>
        <collectionReference>Get_Opportunity_Products</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Product_Name</targetReference>
        </nextValueConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_Opportunity_Products</name>
        <label>Get Opportunity Products</label>
        <locationX>176</locationX>
        <locationY>335</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Policy_Group_A</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Opportunity_Product__r.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>OpportunityLineItem</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Policy_Group_A</name>
        <label>Get Policy Group A</label>
        <locationX>176</locationX>
        <locationY>455</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Policy_Group_B</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Opportunity_Product__r.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>Policy_Group__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Group A</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>OpportunityLineItem</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Policy_Group_B</name>
        <label>Get Policy Group B</label>
        <locationX>176</locationX>
        <locationY>575</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Policy_Group_C</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Opportunity_Product__r.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>Policy_Group__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Group B</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>OpportunityLineItem</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Policy_Group_C</name>
        <label>Get Policy Group C</label>
        <locationX>176</locationX>
        <locationY>695</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Policy_Group_D</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Opportunity_Product__r.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>Policy_Group__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Group C</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>OpportunityLineItem</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Policy_Group_D</name>
        <label>Get Policy Group D</label>
        <locationX>176</locationX>
        <locationY>815</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Policy_Group_E</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Opportunity_Product__r.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>Policy_Group__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Group D</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>OpportunityLineItem</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Policy_Group_E</name>
        <label>Get Policy Group E</label>
        <locationX>176</locationX>
        <locationY>935</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Policy_Group_F</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Opportunity_Product__r.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>Policy_Group__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Group E</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>OpportunityLineItem</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Policy_Group_F</name>
        <label>Get Policy Group F</label>
        <locationX>176</locationX>
        <locationY>1055</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Set_INSR_LTR_Rows</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Opportunity_Product__r.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>Policy_Group__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Group F</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>OpportunityLineItem</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Auto_WS_Y</name>
        <label>Set WS to Y</label>
        <locationX>2684</locationX>
        <locationY>2111</locationY>
        <connector>
            <targetReference>Policy_Group_0</targetReference>
        </connector>
        <inputAssignments>
            <field>Auto_WS__c</field>
            <value>
                <stringValue>Y</stringValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>GL_WS_Y</name>
        <label>Set WS to Y</label>
        <locationX>924</locationX>
        <locationY>2111</locationY>
        <connector>
            <targetReference>GL_Aggregate_0</targetReference>
        </connector>
        <inputAssignments>
            <field>GL_WOS__c</field>
            <value>
                <stringValue>Y</stringValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Set_AI_to_Blanket_Other1</name>
        <label>Set AI to Blanket - Other1</label>
        <locationX>7964</locationX>
        <locationY>2015</locationY>
        <connector>
            <targetReference>WS_1</targetReference>
        </connector>
        <inputAssignments>
            <field>OtherPolicy1_AI__c</field>
            <value>
                <stringValue>Y</stringValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Set_AI_to_Blanket_Other2</name>
        <label>Set AI to Blanket - Other2</label>
        <locationX>9724</locationX>
        <locationY>2231</locationY>
        <connector>
            <targetReference>WS_2</targetReference>
        </connector>
        <inputAssignments>
            <field>OtherPolicy2_AI__c</field>
            <value>
                <stringValue>Y</stringValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Set_AI_to_Y</name>
        <label>Set AI to Y</label>
        <locationX>924</locationX>
        <locationY>1775</locationY>
        <connector>
            <targetReference>Waiver_of_Subrogation</targetReference>
        </connector>
        <inputAssignments>
            <field>GL_AI__c</field>
            <value>
                <stringValue>Y</stringValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Set_AI_to_Y_0</name>
        <label>Set AI to Y</label>
        <locationX>2684</locationX>
        <locationY>1775</locationY>
        <connector>
            <targetReference>Waiver_of_Subrogation_0</targetReference>
        </connector>
        <inputAssignments>
            <field>Auto_AI__c</field>
            <value>
                <stringValue>Y</stringValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Set_AI_to_Y_Umb</name>
        <label>Set AI to Y</label>
        <locationX>4444</locationX>
        <locationY>1775</locationY>
        <connector>
            <targetReference>Waiver_of_Subrogation_0_0</targetReference>
        </connector>
        <inputAssignments>
            <field>Umb_AI__c</field>
            <value>
                <stringValue>Y</stringValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Set_Auto_Details</name>
        <label>Set Auto Details</label>
        <locationX>2816</locationX>
        <locationY>1535</locationY>
        <connector>
            <targetReference>AI_Type_0</targetReference>
        </connector>
        <inputAssignments>
            <field>Auto_Any__c</field>
            <value>
                <elementReference>Sort_Products_by_Type.Any_Auto__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Auto_BodilyInjury_Accident__c</field>
            <value>
                <elementReference>Sort_Products_by_Type.Bodily_Injury_Per_Accident__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Auto_BodilyInjury_Person__c</field>
            <value>
                <elementReference>Sort_Products_by_Type.Bodily_Injury_Per_Person__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Auto_CombinedSingleLimit__c</field>
            <value>
                <elementReference>Sort_Products_by_Type.Combined_Single_Limit__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Auto_Eff_Date__c</field>
            <value>
                <elementReference>Sort_Products_by_Type.Effective_Date__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Auto_Exp_Date__c</field>
            <value>
                <elementReference>Sort_Products_by_Type.Expiration_Date__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Auto_Hired__c</field>
            <value>
                <elementReference>Sort_Products_by_Type.Hired_Auto__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Auto_NonOwned__c</field>
            <value>
                <elementReference>Sort_Products_by_Type.Non_Owned_Auto__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Auto_Owned__c</field>
            <value>
                <elementReference>Sort_Products_by_Type.Owned_Auto__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Auto_PolicyNum__c</field>
            <value>
                <elementReference>Sort_Products_by_Type.Carrier_Policy_Number__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Auto_Scheduled__c</field>
            <value>
                <elementReference>Sort_Products_by_Type.Scheduled_Auto__c</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Set_INSR_LTR_Rows</name>
        <label>Set INSR LTR Rows</label>
        <locationX>176</locationX>
        <locationY>1175</locationY>
        <connector>
            <targetReference>Sort_Products_by_Type</targetReference>
        </connector>
        <inputAssignments>
            <field>INSR_A_NAIC__c</field>
            <value>
                <elementReference>Get_Policy_Group_A.NAIC_Code__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>INSR_A_Name__c</field>
            <value>
                <elementReference>Get_Policy_Group_A.NAIC_Carrier_Name__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>INSR_B_NAIC__c</field>
            <value>
                <elementReference>Get_Policy_Group_B.NAIC_Code__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>INSR_B_Name__c</field>
            <value>
                <elementReference>Get_Policy_Group_B.NAIC_Carrier_Name__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>INSR_C_NAIC__c</field>
            <value>
                <elementReference>Get_Policy_Group_C.NAIC_Code__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>INSR_C_Name__c</field>
            <value>
                <elementReference>Get_Policy_Group_C.NAIC_Carrier_Name__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>INSR_D_NAIC__c</field>
            <value>
                <elementReference>Get_Policy_Group_D.NAIC_Code__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>INSR_D_Name__c</field>
            <value>
                <elementReference>Get_Policy_Group_D.NAIC_Carrier_Name__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>INSR_E_NAIC__c</field>
            <value>
                <elementReference>Get_Policy_Group_E.NAIC_Code__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>INSR_E_Name__c</field>
            <value>
                <elementReference>Get_Policy_Group_E.NAIC_Carrier_Name__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>INSR_F_NAIC__c</field>
            <value>
                <elementReference>Get_Policy_Group_F.NAIC_Code__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>INSR_F_Name__c</field>
            <value>
                <elementReference>Get_Policy_Group_F.NAIC_Carrier_Name__c</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Set_INSRLTR</name>
        <label>Set INSRLTR</label>
        <locationX>264</locationX>
        <locationY>2783</locationY>
        <connector>
            <targetReference>Sort_Products_by_Type</targetReference>
        </connector>
        <inputAssignments>
            <field>GL_INSRLTR__c</field>
            <value>
                <stringValue>A</stringValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Set_INSRLTR_0</name>
        <label>Set INSRLTR</label>
        <locationX>528</locationX>
        <locationY>2783</locationY>
        <connector>
            <targetReference>Sort_Products_by_Type</targetReference>
        </connector>
        <inputAssignments>
            <field>GL_INSRLTR__c</field>
            <value>
                <stringValue>B</stringValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Set_INSRLTR_00</name>
        <label>Set INSRLTR</label>
        <locationX>7832</locationX>
        <locationY>2687</locationY>
        <connector>
            <targetReference>Sort_Products_by_Type</targetReference>
        </connector>
        <inputAssignments>
            <field>OtherPolicy1_INSRLTR__c</field>
            <value>
                <stringValue>C</stringValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Set_INSRLTR_000</name>
        <label>Set INSRLTR</label>
        <locationX>8096</locationX>
        <locationY>2687</locationY>
        <connector>
            <targetReference>Sort_Products_by_Type</targetReference>
        </connector>
        <inputAssignments>
            <field>OtherPolicy1_INSRLTR__c</field>
            <value>
                <stringValue>D</stringValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Set_INSRLTR_02</name>
        <label>Set INSRLTR</label>
        <locationX>9064</locationX>
        <locationY>2903</locationY>
        <connector>
            <targetReference>Sort_Products_by_Type</targetReference>
        </connector>
        <inputAssignments>
            <field>OtherPolicy2_INSRLTR__c</field>
            <value>
                <stringValue>A</stringValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Set_INSRLTR_022</name>
        <label>Set INSRLTR</label>
        <locationX>9328</locationX>
        <locationY>2903</locationY>
        <connector>
            <targetReference>Sort_Products_by_Type</targetReference>
        </connector>
        <inputAssignments>
            <field>OtherPolicy2_INSRLTR__c</field>
            <value>
                <stringValue>B</stringValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Set_INSRLTR_0_0</name>
        <label>Set INSRLTR</label>
        <locationX>792</locationX>
        <locationY>2783</locationY>
        <connector>
            <targetReference>Sort_Products_by_Type</targetReference>
        </connector>
        <inputAssignments>
            <field>GL_INSRLTR__c</field>
            <value>
                <stringValue>C</stringValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Set_INSRLTR_0_0_0</name>
        <label>Set INSRLTR</label>
        <locationX>1056</locationX>
        <locationY>2783</locationY>
        <connector>
            <targetReference>Sort_Products_by_Type</targetReference>
        </connector>
        <inputAssignments>
            <field>GL_INSRLTR__c</field>
            <value>
                <stringValue>D</stringValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Set_INSRLTR_0_0_000</name>
        <label>Set INSRLTR</label>
        <locationX>8360</locationX>
        <locationY>2687</locationY>
        <connector>
            <targetReference>Sort_Products_by_Type</targetReference>
        </connector>
        <inputAssignments>
            <field>OtherPolicy1_INSRLTR__c</field>
            <value>
                <stringValue>E</stringValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Set_INSRLTR_0_0_0_0</name>
        <label>Set INSRLTR</label>
        <locationX>1320</locationX>
        <locationY>2783</locationY>
        <connector>
            <targetReference>Sort_Products_by_Type</targetReference>
        </connector>
        <inputAssignments>
            <field>GL_INSRLTR__c</field>
            <value>
                <stringValue>E</stringValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Set_INSRLTR_0_0_0_0_0</name>
        <label>Set INSRLTR</label>
        <locationX>1584</locationX>
        <locationY>2783</locationY>
        <connector>
            <targetReference>Sort_Products_by_Type</targetReference>
        </connector>
        <inputAssignments>
            <field>GL_INSRLTR__c</field>
            <value>
                <stringValue>F</stringValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Set_INSRLTR_0_0_0_0_02</name>
        <label>Set INSRLTR</label>
        <locationX>9856</locationX>
        <locationY>2903</locationY>
        <connector>
            <targetReference>Sort_Products_by_Type</targetReference>
        </connector>
        <inputAssignments>
            <field>OtherPolicy2_INSRLTR__c</field>
            <value>
                <stringValue>D</stringValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Set_INSRLTR_0_0_0_0_0_0</name>
        <label>Set INSRLTR</label>
        <locationX>2024</locationX>
        <locationY>2447</locationY>
        <connector>
            <targetReference>Sort_Products_by_Type</targetReference>
        </connector>
        <inputAssignments>
            <field>Auto_INSRLTR__c</field>
            <value>
                <stringValue>A</stringValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Set_INSRLTR_0_0_0_0_0_000</name>
        <label>Set INSRLTR</label>
        <locationX>8624</locationX>
        <locationY>2687</locationY>
        <connector>
            <targetReference>Sort_Products_by_Type</targetReference>
        </connector>
        <inputAssignments>
            <field>OtherPolicy1_INSRLTR__c</field>
            <value>
                <stringValue>F</stringValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Set_INSRLTR_0_0_0_0_0_0_0</name>
        <label>Set INSRLTR</label>
        <locationX>2288</locationX>
        <locationY>2447</locationY>
        <connector>
            <targetReference>Sort_Products_by_Type</targetReference>
        </connector>
        <inputAssignments>
            <field>Auto_INSRLTR__c</field>
            <value>
                <stringValue>B</stringValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Set_INSRLTR_0_0_0_0_0_0_0_0</name>
        <label>Set INSRLTR</label>
        <locationX>2552</locationX>
        <locationY>2447</locationY>
        <connector>
            <targetReference>Sort_Products_by_Type</targetReference>
        </connector>
        <inputAssignments>
            <field>Auto_INSRLTR__c</field>
            <value>
                <stringValue>C</stringValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Set_INSRLTR_0_0_0_0_0_0_0_0_0</name>
        <label>Set INSRLTR</label>
        <locationX>2816</locationX>
        <locationY>2447</locationY>
        <connector>
            <targetReference>Sort_Products_by_Type</targetReference>
        </connector>
        <inputAssignments>
            <field>Auto_INSRLTR__c</field>
            <value>
                <stringValue>D</stringValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Set_INSRLTR_0_0_0_0_0_0_0_0_0_0</name>
        <label>Set INSRLTR</label>
        <locationX>3080</locationX>
        <locationY>2447</locationY>
        <connector>
            <targetReference>Sort_Products_by_Type</targetReference>
        </connector>
        <inputAssignments>
            <field>Auto_INSRLTR__c</field>
            <value>
                <stringValue>E</stringValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Set_INSRLTR_0_0_0_0_0_0_0_0_0_0_0</name>
        <label>Set INSRLTR</label>
        <locationX>3344</locationX>
        <locationY>2447</locationY>
        <connector>
            <targetReference>Sort_Products_by_Type</targetReference>
        </connector>
        <inputAssignments>
            <field>Auto_INSRLTR__c</field>
            <value>
                <stringValue>F</stringValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Set_INSRLTR_0_0_0_0_0_0_0_0_0_0_0_0</name>
        <label>Set INSRLTR</label>
        <locationX>3784</locationX>
        <locationY>3119</locationY>
        <connector>
            <targetReference>Sort_Products_by_Type</targetReference>
        </connector>
        <inputAssignments>
            <field>Umb_INSRLTR__c</field>
            <value>
                <stringValue>A</stringValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Set_INSRLTR_0_0_0_0_0_0_0_0_0_0_0_0_0</name>
        <label>Set INSRLTR</label>
        <locationX>4048</locationX>
        <locationY>3119</locationY>
        <connector>
            <targetReference>Sort_Products_by_Type</targetReference>
        </connector>
        <inputAssignments>
            <field>Umb_INSRLTR__c</field>
            <value>
                <stringValue>B</stringValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Set_INSRLTR_0_0_0_0_0_0_0_0_0_0_0_0_0_0</name>
        <label>Set INSRLTR</label>
        <locationX>4312</locationX>
        <locationY>3119</locationY>
        <connector>
            <targetReference>Sort_Products_by_Type</targetReference>
        </connector>
        <inputAssignments>
            <field>Umb_INSRLTR__c</field>
            <value>
                <stringValue>C</stringValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Set_INSRLTR_0_0_0_0_0_0_0_0_0_0_0_0_0_0_0</name>
        <label>Set INSRLTR</label>
        <locationX>4576</locationX>
        <locationY>3119</locationY>
        <connector>
            <targetReference>Sort_Products_by_Type</targetReference>
        </connector>
        <inputAssignments>
            <field>Umb_INSRLTR__c</field>
            <value>
                <stringValue>D</stringValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Set_INSRLTR_0_0_0_0_0_0_0_0_0_0_0_0_0_0_0_0</name>
        <label>Set INSRLTR</label>
        <locationX>4840</locationX>
        <locationY>3119</locationY>
        <connector>
            <targetReference>Sort_Products_by_Type</targetReference>
        </connector>
        <inputAssignments>
            <field>Umb_INSRLTR__c</field>
            <value>
                <stringValue>E</stringValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Set_INSRLTR_0_0_0_0_0_0_0_0_0_0_0_0_0_0_0_0_0</name>
        <label>Set INSRLTR</label>
        <locationX>5104</locationX>
        <locationY>3119</locationY>
        <connector>
            <targetReference>Sort_Products_by_Type</targetReference>
        </connector>
        <inputAssignments>
            <field>Umb_INSRLTR__c</field>
            <value>
                <stringValue>F</stringValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Set_INSRLTR_0_0_0_0_0_0_0_0_0_0_0_0_0_0_0_0_0_0</name>
        <label>Set INSRLTR</label>
        <locationX>5544</locationX>
        <locationY>2111</locationY>
        <connector>
            <targetReference>Sort_Products_by_Type</targetReference>
        </connector>
        <inputAssignments>
            <field>WC_INSRLTR__c</field>
            <value>
                <stringValue>A</stringValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Set_INSRLTR_0_0_0_0_0_0_0_0_0_0_0_0_0_0_0_0_0_0_0</name>
        <label>Set INSRLTR</label>
        <locationX>5808</locationX>
        <locationY>2111</locationY>
        <connector>
            <targetReference>Sort_Products_by_Type</targetReference>
        </connector>
        <inputAssignments>
            <field>WC_INSRLTR__c</field>
            <value>
                <stringValue>B</stringValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Set_INSRLTR_0_0_0_0_0_0_0_0_0_0_0_0_0_0_0_0_0_0_0_0</name>
        <label>Set INSRLTR</label>
        <locationX>6072</locationX>
        <locationY>2111</locationY>
        <connector>
            <targetReference>Sort_Products_by_Type</targetReference>
        </connector>
        <inputAssignments>
            <field>WC_INSRLTR__c</field>
            <value>
                <stringValue>C</stringValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Set_INSRLTR_0_0_0_0_0_0_0_0_0_0_0_0_0_0_0_0_0_0_0_0_0</name>
        <label>Set INSRLTR</label>
        <locationX>6336</locationX>
        <locationY>2111</locationY>
        <connector>
            <targetReference>Sort_Products_by_Type</targetReference>
        </connector>
        <inputAssignments>
            <field>WC_INSRLTR__c</field>
            <value>
                <stringValue>D</stringValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Set_INSRLTR_0_0_0_0_0_0_0_0_0_0_0_0_0_0_0_0_0_0_0_0_0_0</name>
        <label>Set INSRLTR</label>
        <locationX>6600</locationX>
        <locationY>2111</locationY>
        <connector>
            <targetReference>Sort_Products_by_Type</targetReference>
        </connector>
        <inputAssignments>
            <field>WC_INSRLTR__c</field>
            <value>
                <stringValue>E</stringValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Set_INSRLTR_0_0_0_0_0_0_0_0_0_0_0_0_0_0_0_0_0_0_0_0_0_0_0</name>
        <label>Set INSRLTR</label>
        <locationX>6864</locationX>
        <locationY>2111</locationY>
        <connector>
            <targetReference>Sort_Products_by_Type</targetReference>
        </connector>
        <inputAssignments>
            <field>WC_INSRLTR__c</field>
            <value>
                <stringValue>F</stringValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Set_INSRLTR_0_0_0_0_0_0_0_0_0_0_0_0_0_0_0_0_0_0_0_0_0_0_0_0</name>
        <label>Set INSRLTR</label>
        <locationX>7304</locationX>
        <locationY>2687</locationY>
        <connector>
            <targetReference>Sort_Products_by_Type</targetReference>
        </connector>
        <inputAssignments>
            <field>OtherPolicy1_INSRLTR__c</field>
            <value>
                <stringValue>A</stringValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Set_INSRLTR_0_0_0_0_0_0_0_0_0_0_0_0_2</name>
        <label>Set INSRLTR</label>
        <locationX>10120</locationX>
        <locationY>2903</locationY>
        <connector>
            <targetReference>Sort_Products_by_Type</targetReference>
        </connector>
        <inputAssignments>
            <field>OtherPolicy2_INSRLTR__c</field>
            <value>
                <stringValue>E</stringValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Set_INSRLTR_0_0_0_0_0_0_2</name>
        <label>Set INSRLTR</label>
        <locationX>9592</locationX>
        <locationY>2903</locationY>
        <connector>
            <targetReference>Sort_Products_by_Type</targetReference>
        </connector>
        <inputAssignments>
            <field>OtherPolicy2_INSRLTR__c</field>
            <value>
                <stringValue>C</stringValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Set_INSRLTR_other1_b</name>
        <label>Set INSRLTR</label>
        <locationX>7568</locationX>
        <locationY>2687</locationY>
        <connector>
            <targetReference>Sort_Products_by_Type</targetReference>
        </connector>
        <inputAssignments>
            <field>OtherPolicy1_INSRLTR__c</field>
            <value>
                <stringValue>B</stringValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Set_INSRLTR_othr22</name>
        <label>Set INSRLTR</label>
        <locationX>10384</locationX>
        <locationY>2903</locationY>
        <connector>
            <targetReference>Sort_Products_by_Type</targetReference>
        </connector>
        <inputAssignments>
            <field>OtherPolicy2_INSRLTR__c</field>
            <value>
                <stringValue>F</stringValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Set_Other_Policy_1_Fields</name>
        <label>Set Other Policy 1 Fields</label>
        <locationX>8096</locationX>
        <locationY>1775</locationY>
        <connector>
            <targetReference>AI_1</targetReference>
        </connector>
        <inputAssignments>
            <field>OtherPolicy1_Agg__c</field>
            <value>
                <elementReference>Sort_Products_by_Type.Aggregate_Limit__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OtherPolicy1_Coverage_Name__c</field>
            <value>
                <elementReference>Sort_Products_by_Type.Product_Name__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OtherPolicy1_Eff_Date__c</field>
            <value>
                <elementReference>Sort_Products_by_Type.Effective_Date__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OtherPolicy1_Exp_Date__c</field>
            <value>
                <elementReference>Sort_Products_by_Type.Expiration_Date__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OtherPolicy1_Occ__c</field>
            <value>
                <elementReference>Sort_Products_by_Type.Occurrence_Limit__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OtherPolicy1_PolicyNum__c</field>
            <value>
                <elementReference>Sort_Products_by_Type.Carrier_Policy_Number__c</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Set_Other_Policy_2_Fields</name>
        <label>Set Other Policy 2 Fields</label>
        <locationX>9724</locationX>
        <locationY>1895</locationY>
        <connector>
            <targetReference>AI_2</targetReference>
        </connector>
        <inputAssignments>
            <field>OtherPolicy2_Agg__c</field>
            <value>
                <elementReference>Sort_Products_by_Type.Aggregate_Limit__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OtherPolicy2_Coverage_Name__c</field>
            <value>
                <elementReference>Sort_Products_by_Type.Product_Name__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OtherPolicy2_Eff_Date__c</field>
            <value>
                <elementReference>Sort_Products_by_Type.Effective_Date__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OtherPolicy2_Exp_Date__c</field>
            <value>
                <elementReference>Sort_Products_by_Type.Expiration_Date__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OtherPolicy2_Occ__c</field>
            <value>
                <elementReference>Sort_Products_by_Type.Occurrence_Limit__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OtherPolicy2_PolicyNum__c</field>
            <value>
                <elementReference>Sort_Products_by_Type.Carrier_Policy_Number__c</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Set_to_Claims_Made_0</name>
        <label>Set to Claims Made</label>
        <locationX>4444</locationX>
        <locationY>2447</locationY>
        <connector>
            <targetReference>UmbrellaType</targetReference>
        </connector>
        <inputAssignments>
            <field>Umb_Form_CM__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Set_to_Excess</name>
        <label>Set to Excess</label>
        <locationX>4444</locationX>
        <locationY>2783</locationY>
        <connector>
            <targetReference>Policy_Group_0_0</targetReference>
        </connector>
        <inputAssignments>
            <field>Umb_ExcessType__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Set_to_Occurrence_Based</name>
        <label>Set to Occurrence Based</label>
        <locationX>4708</locationX>
        <locationY>2447</locationY>
        <connector>
            <targetReference>UmbrellaType</targetReference>
        </connector>
        <inputAssignments>
            <field>Umb_Form_OB__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Set_to_Per_Location_0</name>
        <label>Set to Per Location</label>
        <locationX>792</locationX>
        <locationY>2447</locationY>
        <connector>
            <targetReference>Policy_Group</targetReference>
        </connector>
        <inputAssignments>
            <field>GL_Agg_PerLocation__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Set_to_Per_Policy_0</name>
        <label>Set to Per Location</label>
        <locationX>1320</locationX>
        <locationY>2447</locationY>
        <connector>
            <targetReference>Policy_Group</targetReference>
        </connector>
        <inputAssignments>
            <field>GL_Agg_PerPolicy__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Set_to_Per_Project_0</name>
        <label>Set to Per Project</label>
        <locationX>1056</locationX>
        <locationY>2447</locationY>
        <connector>
            <targetReference>Policy_Group</targetReference>
        </connector>
        <inputAssignments>
            <field>GL_Agg_PerProject__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Set_to_Umbrella</name>
        <label>Set to Umbrella</label>
        <locationX>4708</locationX>
        <locationY>2783</locationY>
        <connector>
            <targetReference>Policy_Group_0_0</targetReference>
        </connector>
        <inputAssignments>
            <field>Umb_UmbrellaType__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Set_WS_Other_1</name>
        <label>Set WS - Other 1</label>
        <locationX>7964</locationX>
        <locationY>2351</locationY>
        <connector>
            <targetReference>Policy_Group_0_0_0_0</targetReference>
        </connector>
        <inputAssignments>
            <field>OtherPolicy1_WS__c</field>
            <value>
                <stringValue>Y</stringValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Set_WS_Other_2</name>
        <label>Set WS - Other 2</label>
        <locationX>9724</locationX>
        <locationY>2567</locationY>
        <connector>
            <targetReference>Policy_Group_0_0_0_0_0</targetReference>
        </connector>
        <inputAssignments>
            <field>OtherPolicy2_WS__c</field>
            <value>
                <stringValue>Y</stringValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Set_WS_to_Y_Umb</name>
        <label>Set WS to Y</label>
        <locationX>4444</locationX>
        <locationY>2111</locationY>
        <connector>
            <targetReference>Umbrella_Form</targetReference>
        </connector>
        <inputAssignments>
            <field>Umb_WS__c</field>
            <value>
                <stringValue>Y</stringValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Set_WS_to_Y_WC_0</name>
        <label>Set WS to Y</label>
        <locationX>6204</locationX>
        <locationY>1775</locationY>
        <connector>
            <targetReference>Policy_Group_0_0_0</targetReference>
        </connector>
        <inputAssignments>
            <field>WC_WS__c</field>
            <value>
                <stringValue>Y</stringValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_GL_Fields</name>
        <label>Update GL Fields</label>
        <locationX>1056</locationX>
        <locationY>1535</locationY>
        <connector>
            <targetReference>AI_Type</targetReference>
        </connector>
        <inputAssignments>
            <field>GL_Agg__c</field>
            <value>
                <elementReference>Sort_Products_by_Type.Aggregate_Limit__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>GL_Damage_RentedPremises__c</field>
            <value>
                <elementReference>Sort_Products_by_Type.Damages_to_Premises_Rented_Limit__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>GL_Eff_Date__c</field>
            <value>
                <elementReference>Sort_Products_by_Type.Effective_Date__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>GL_Exp_Date__c</field>
            <value>
                <elementReference>Sort_Products_by_Type.Expiration_Date__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>GL_MedExpense__c</field>
            <value>
                <elementReference>Sort_Products_by_Type.Medical_Expense_Limit__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>GL_Occ__c</field>
            <value>
                <elementReference>Sort_Products_by_Type.Occurrence_Limit__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>GL_PersonalAdv__c</field>
            <value>
                <elementReference>Sort_Products_by_Type.Personal_and_Advertising_Injury_Limit__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>GL_PolicyNum__c</field>
            <value>
                <elementReference>Sort_Products_by_Type.Carrier_Policy_Number__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>GL_ProdCompOpp__c</field>
            <value>
                <elementReference>Sort_Products_by_Type.Products_Completed_Operations_Limit__c</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Umbrella_Limits</name>
        <label>Update Umbrella Limits</label>
        <locationX>4576</locationX>
        <locationY>1535</locationY>
        <connector>
            <targetReference>AI_Type_0_0</targetReference>
        </connector>
        <inputAssignments>
            <field>Umb_Agg__c</field>
            <value>
                <elementReference>Sort_Products_by_Type.Aggregate_Limit__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Umb_Deductible__c</field>
            <value>
                <elementReference>Sort_Products_by_Type.Deductible__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Umb_Eff_Date__c</field>
            <value>
                <elementReference>Sort_Products_by_Type.Effective_Date__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Umb_Exp_Date__c</field>
            <value>
                <elementReference>Sort_Products_by_Type.Expiration_Date__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Umb_Occ__c</field>
            <value>
                <elementReference>Sort_Products_by_Type.Occurrence_Limit__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Umb_PolicyNum__c</field>
            <value>
                <elementReference>Sort_Products_by_Type.Carrier_Policy_Number__c</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_WC_Limits</name>
        <label>Update WC Limits</label>
        <locationX>6336</locationX>
        <locationY>1535</locationY>
        <connector>
            <targetReference>Waiver_of_Subrogation_WC</targetReference>
        </connector>
        <inputAssignments>
            <field>WC_Disease_EaEmployee__c</field>
            <value>
                <elementReference>Sort_Products_by_Type.Disease_Each_Employee__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>WC_Disease_Policy__c</field>
            <value>
                <elementReference>Sort_Products_by_Type.Disease_Policy_Limit__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>WC_EL_EaAccident__c</field>
            <value>
                <elementReference>Sort_Products_by_Type.Each_Accident_Limit__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>WC_Eff_Date__c</field>
            <value>
                <elementReference>Sort_Products_by_Type.Effective_Date__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>WC_Exp_Date__c</field>
            <value>
                <elementReference>Sort_Products_by_Type.Expiration_Date__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>WC_OwnerExcluded__c</field>
            <value>
                <elementReference>Sort_Products_by_Type.Owners_Excluded__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>WC_PolicyNum__c</field>
            <value>
                <elementReference>Sort_Products_by_Type.Carrier_Policy_Number__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>WC_Statutory__c</field>
            <value>
                <elementReference>Sort_Products_by_Type.Statutory_Limits__c</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Opportunity_Products</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>INSR_A_NAIC__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <object>Certificate__c</object>
        <recordTriggerType>Create</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>OtherPolicy1</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>OpportunityLineItem</objectType>
    </variables>
    <variables>
        <name>OtherPolicy2</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>OpportunityLineItem</objectType>
    </variables>
</Flow>
