force-app/main/default/flows/Set_NAIC_Carrier_Name.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>55.0</apiVersion>
    <decisions>
        <description>Separate NAIC Entities that have already been attached to a parent carrier</description>
        <name>Check_for_Parent_Carrier</name>
        <label>Check for Parent Carrier</label>
        <locationX>182</locationX>
        <locationY>695</locationY>
        <defaultConnectorLabel>Has Parent Carrier</defaultConnectorLabel>
        <rules>
            <name>Parent_Carrier_Null</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_NAIC_List.Account__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Parent_Carrier_Company</targetReference>
            </connector>
            <label>Parent Carrier Account is Null</label>
        </rules>
    </decisions>
    <interviewLabel>Set NAIC Carrier Name {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Set NAIC Carrier Name-v2</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_Carrier_Account_ID</name>
        <label>Get Carrier Account ID</label>
        <locationX>182</locationX>
        <locationY>575</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Check_for_Parent_Carrier</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>RecordTypeId</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>0122M000001UYk4QAG</stringValue>
            </value>
        </filters>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Carrier__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Account</object>
        <queriedFields>Id</queriedFields>
        <queriedFields>Account_ID__c</queriedFields>
        <queriedFields>Name</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_NAIC_List</name>
        <label>Get NAIC List</label>
        <locationX>182</locationX>
        <locationY>335</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Set_NAIC_Carrier_Name</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>NAIC_Code__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.NAIC_Code__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>NAIC_Entity__c</object>
        <queriedFields>Id</queriedFields>
        <queriedFields>Name</queriedFields>
        <queriedFields>Account__c</queriedFields>
        <queriedFields>NAIC_Code__c</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Set_NAIC_Carrier_Name</name>
        <label>Set NAIC Carrier Name</label>
        <locationX>182</locationX>
        <locationY>455</locationY>
        <connector>
            <targetReference>Get_Carrier_Account_ID</targetReference>
        </connector>
        <inputAssignments>
            <field>NAIC_Entity__c</field>
            <value>
                <elementReference>Get_NAIC_List.Id</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <description>Set the parent carrier company for the NAIC Entity</description>
        <name>Set_Parent_Carrier_Company</name>
        <label>Set Parent Carrier Company</label>
        <locationX>50</locationX>
        <locationY>815</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_NAIC_List.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Account__c</field>
            <value>
                <elementReference>Get_Carrier_Account_ID.Account_ID__c</elementReference>
            </value>
        </inputAssignments>
        <object>NAIC_Entity__c</object>
    </recordUpdates>
    <start>
        <locationX>56</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_NAIC_List</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>NAIC_Code__c</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue></stringValue>
            </value>
        </filters>
        <object>OpportunityLineItem</object>
        <recordTriggerType>Update</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
</Flow>
