force-app/main/default/flows/Sold_USG_Cyber_Policy.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>55.0</apiVersion>
    <assignments>
        <name>Set_Validation_Score</name>
        <label>Set Validation Score</label>
        <locationX>176</locationX>
        <locationY>815</locationY>
        <assignmentItems>
            <assignToReference>Validation</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Opp_Products.Closed_Won_Validation__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Close_Opportunity</targetReference>
        </connector>
    </assignments>
    <interviewLabel>Sold USG Cyber Policy {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Sold USG Cyber Policy</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_Opp_Products</name>
        <label>Get Opp Products</label>
        <locationX>176</locationX>
        <locationY>455</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Update_Opportunity_Line_Items</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>OpportunityId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.OpportunityId</elementReference>
            </value>
        </filters>
        <filters>
            <field>Product2Id</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>01t2M000008L0PJQA0</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>OpportunityLineItem</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Close_Opportunity</name>
        <label>Close Opportunity</label>
        <locationX>176</locationX>
        <locationY>935</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Opp_Products.OpportunityId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>StageName</field>
            <value>
                <stringValue>Closed Won</stringValue>
            </value>
        </inputAssignments>
        <object>Opportunity</object>
    </recordUpdates>
    <recordUpdates>
        <name>Set_Picklist_to_Accepted</name>
        <label>Set Picklist to Accepted</label>
        <locationX>176</locationX>
        <locationY>335</locationY>
        <connector>
            <targetReference>Get_Opp_Products</targetReference>
        </connector>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>Accepted</stringValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Opportunity_Line_Items</name>
        <label>Update Opportunity Line Items</label>
        <locationX>176</locationX>
        <locationY>575</locationY>
        <connector>
            <targetReference>UpdateOpportunity</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Opp_Products.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Broker__c</field>
            <value>
                <stringValue>USG</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Closed_Won_Validation__c</field>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Commission_Received__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>USG_Status__c</field>
            <value>
                <stringValue>New Policy</stringValue>
            </value>
        </inputAssignments>
        <object>OpportunityLineItem</object>
    </recordUpdates>
    <recordUpdates>
        <name>UpdateOpportunity</name>
        <label>UpdateOpportunity</label>
        <locationX>176</locationX>
        <locationY>695</locationY>
        <connector>
            <targetReference>Set_Validation_Score</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Opp_Products.OpportunityId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Billing_Status__c</field>
            <value>
                <stringValue>Billing Completed</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Customer_Transaction_Type__c</field>
            <value>
                <stringValue>USG Cyber</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Type</field>
            <value>
                <stringValue>Expansion</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>renewaldate__c</field>
            <value>
                <elementReference>Get_Opp_Products.Expiration_Date__c</elementReference>
            </value>
        </inputAssignments>
        <object>Opportunity</object>
    </recordUpdates>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Set_Picklist_to_Accepted</targetReference>
        </connector>
        <doesRequireRecordChangedToMeetCriteria>true</doesRequireRecordChangedToMeetCriteria>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Accepted__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <object>Quote</object>
        <recordTriggerType>Update</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>MissingValues</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>Validation</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <elementReference>Get_Opp_Products.Closed_Won_Validation__c</elementReference>
        </value>
    </variables>
</Flow>
