force-app/main/default/flows/Update_Opp_Line_Items_from_Quote_Line_Items.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>55.0</apiVersion>
    <decisions>
        <name>Gl_Limits_Set_on_Quote</name>
        <label>Gl Limits Set on Quote</label>
        <locationX>396</locationX>
        <locationY>935</locationY>
        <defaultConnector>
            <targetReference>Individual_Quote_Line_Items</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Empty GL Limits</defaultConnectorLabel>
        <rules>
            <name>GL_Limits_Set</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Individual_Quote_Line_Items.Policy_Aggregate__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Individual_Quote_Line_Items.Policy_Damage_to_Rented_Premises__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Individual_Quote_Line_Items.Policy_Med_Expense__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Individual_Quote_Line_Items.Policy_Occurrence__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Individual_Quote_Line_Items.Policy_Personal_Adv__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Individual_Quote_Line_Items.Policy_Prod_Comp_Opp__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Opportunity_Product_GL_Limits_0</targetReference>
            </connector>
            <label>GL Limits Set</label>
        </rules>
    </decisions>
    <interviewLabel>Update Opp Line Items from Quote Line Items {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Update Opp Line Items from Quote Line Items</label>
    <loops>
        <name>Individual_Quote_Line_Items</name>
        <label>Individual Quote Line Items</label>
        <locationX>176</locationX>
        <locationY>695</locationY>
        <collectionReference>Get_Quote_Line_Items</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Get_Individual_Products</targetReference>
        </nextValueConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_Individual_Products</name>
        <label>Get Individual Products</label>
        <locationX>396</locationX>
        <locationY>815</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Gl_Limits_Set_on_Quote</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Individual_Quote_Line_Items.Product2.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Product2</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <description>Get the opportunity products on the opportunity associated with the accepted quote</description>
        <name>Get_Opportunity_Products</name>
        <label>Get Opportunity Products</label>
        <locationX>176</locationX>
        <locationY>455</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Quote_Line_Items</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>OpportunityId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.OpportunityId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>OpportunityLineItem</object>
        <queriedFields>Id</queriedFields>
        <queriedFields>Product2Id</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Quote_Line_Items</name>
        <label>Get Quote Line Items</label>
        <locationX>176</locationX>
        <locationY>575</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Individual_Quote_Line_Items</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>QuoteId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>QuoteLineItem</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Check_Accepted_Box</name>
        <label>Check Accepted Box</label>
        <locationX>176</locationX>
        <locationY>335</locationY>
        <connector>
            <targetReference>Get_Opportunity_Products</targetReference>
        </connector>
        <inputAssignments>
            <field>Accepted__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Opportunity_Product_GL_Limits_0</name>
        <label>Update Opportunity Product GL Limits</label>
        <locationX>264</locationX>
        <locationY>1055</locationY>
        <connector>
            <targetReference>Individual_Quote_Line_Items</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>OpportunityId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Opportunity.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>Product2Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Individual_Quote_Line_Items.Product2Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Aggregate_Limit__c</field>
            <value>
                <elementReference>Individual_Quote_Line_Items.Policy_Aggregate__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Damages_to_Premises_Rented_Limit__c</field>
            <value>
                <elementReference>Individual_Quote_Line_Items.Policy_Damage_to_Rented_Premises__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Medical_Expense_Limit__c</field>
            <value>
                <elementReference>Individual_Quote_Line_Items.Policy_Med_Expense__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Occurrence_Limit__c</field>
            <value>
                <elementReference>Individual_Quote_Line_Items.Policy_Occurrence__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Personal_and_Advertising_Injury_Limit__c</field>
            <value>
                <elementReference>Individual_Quote_Line_Items.Policy_Personal_Adv__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Products_Completed_Operations_Limit__c</field>
            <value>
                <elementReference>Individual_Quote_Line_Items.Policy_Prod_Comp_Opp__c</elementReference>
            </value>
        </inputAssignments>
        <object>OpportunityLineItem</object>
    </recordUpdates>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Check_Accepted_Box</targetReference>
        </connector>
        <doesRequireRecordChangedToMeetCriteria>true</doesRequireRecordChangedToMeetCriteria>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Status</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Accepted</stringValue>
            </value>
        </filters>
        <object>Quote</object>
        <recordTriggerType>Update</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Draft</status>
    <variables>
        <name>currentItem_Filter_Opp_Products_0</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>OpportunityLineItem</objectType>
    </variables>
    <variables>
        <name>NAICCodeVariable</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <scale>0</scale>
    </variables>
    <variables>
        <name>ProductCollection</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Product2</objectType>
    </variables>
</Flow>
