force-app/main/default/flows/USG_Cyber_Flow_Update_Products.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>55.0</apiVersion>
    <formulas>
        <name>ExpirationDate</name>
        <dataType>Date</dataType>
        <expression>{!$Flow.CurrentDate} + 365</expression>
    </formulas>
    <interviewLabel>USG Cyber Flow - Update Products {!$Flow.CurrentDateTime}</interviewLabel>
    <label>USG Cyber Flow - Update Products</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Create_USG_Quote</name>
        <label>Create USG Quote</label>
        <locationX>176</locationX>
        <locationY>335</locationY>
        <connector>
            <targetReference>Set_USG_Cyber_Fields</targetReference>
        </connector>
        <inputAssignments>
            <field>Name</field>
            <value>
                <stringValue>USG Cyber Quote</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OpportunityId</field>
            <value>
                <elementReference>$Record.OpportunityId</elementReference>
            </value>
        </inputAssignments>
        <object>Quote</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordUpdates>
        <name>Set_USG_Cyber_Fields</name>
        <label>Set USG Cyber Fields</label>
        <locationX>176</locationX>
        <locationY>455</locationY>
        <inputAssignments>
            <field>Aggregate_Limit__c</field>
            <value>
                <stringValue>$250,000</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Billing_Type__c</field>
            <value>
                <stringValue>Stripe</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Broker_Carrier__c</field>
            <value>
                <stringValue>USG </stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Carrier_Policy_Number__c</field>
            <value>
                <elementReference>$Record.USG_Policy_Number__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Carrier_Selection__c</field>
            <value>
                <stringValue>USG Cyber</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Carrier__c</field>
            <value>
                <stringValue>USG</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Commission_Rate__c</field>
            <value>
                <numberValue>30.0</numberValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Effective_Date__c</field>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Expiration_Date__c</field>
            <value>
                <elementReference>ExpirationDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Occurrence_Limit__c</field>
            <value>
                <stringValue>$250,000</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>UnitPrice</field>
            <value>
                <numberValue>250.0</numberValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Create_USG_Quote</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Product2Id</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>01t2M000008L0PJQA0</stringValue>
            </value>
        </filters>
        <object>OpportunityLineItem</object>
        <recordTriggerType>Create</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
</Flow>
